---
title: "تُومْ، بَائِعُ المَوْزِ"
layout: "story"
id: "0296"
language: "ar"
langname: "Arabic"
level: "2"
text: "Humphreys Odunga"
illustration: "Zablon Alex Nguku"
translation: "Maaouia Haj Mabrouk"
reader: "Mashael Muhanna"
license: "by"
version: "4"
nc: ""
colour: "yes"
source: "tom-banana-seller"
asptitle: "Tom the banana seller"
entitle: "Tom the banana seller"
swtitle: "Tom le vendeur de bananes"
order: "19"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	يَحْمِلُ توم طَبَقَ المَوْزِ النَّاضِجِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Tom carries a tray of ripe bananas.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tom anabeba tenga la ndizi zilizo iva.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	يَتَّجِهُ تُومْ إِلَى السُّوقِ لِبَيْعِ المَوْزِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Tom goes to the market to sell bananas.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tom anenda sokoni kuuza ndizi.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	النَّاسُ فِي السُّوقِ يَشْتَرُونَ الفَاكِهَة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	People at the market are buying fruit.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sokoni watu wana nunua matunda.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	لَكِنْ لاَ أَحَدَ يَشْتَرِي مَوْزَاتِ تُومْ. إِنَّهُمْ يُحَبِّذُونَ شِرَاءَ الفَاكِهَةِ مِنَ النَّسَاءِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But no one is buying

Tom’s bananas.

They prefer to buy fruit from women.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hakuna anaye nunua ndizi za Tom. Wanapenda kununua ndizi kutoka kwa akina mama.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	يَقُولُ النَّاسُ "فِي مُجْتَمَعِنَا لاَ يَبِيعُ الفَاكِهَةَ إِلاَّ النِّسَاءُ" وَيَتَسَاءَلُونَ "مَا نَوْعُ هَذَا الرَّجُلِ؟"
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	"In our community, only women sell fruit," people say. "What kind of a man is this?" people ask.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Kwenye jamii yetu, ni wanawake pekee ndio wanaouza matunda," watu wanasema. "Ni mwanaume wa aina gani huyu?" watu wanahoji.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	لَكِنَّ تُومْ لاَ يَسْتَسْلِمُ. هَا هُوَ يُنَادِي "اِشْتَرُوا مَوْزِي … اِشْتَرُوا مَوْزِيَ النَّاضِجَ اللَّذِيذَ."
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But Tom does not give up.

He calls, “Buy my bananas!

Buy my sweet ripe bananas!”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Lakini Tom hakati tamaa. Anaita, "Nunua ndizi zangu! Nunueni ndizi zangu tamu!"
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	أَخَذَتْ امْرَأَةٌ حِزْمَةَ المَوْزِ مِنْ عَلَى الطَّبَقِ وَتَفَحَّصَتْهَا بِعِنَايَةٍ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One woman picks up a bunch of bananas from the tray.

She looks at the bananas carefully.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mwanamke mmoja anachukua kichana cha ndizi kutoka kwenye tenga. Anaziangalia ndizi kwa umakini.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	اشْتَرَتْ المَرْأَةُ المَوْزَ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The woman buys the bananas.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mwanamke ananunua ndizi.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	تَوَافَدَ النَّاسُ عَلَى المِنْضَدَةِ. يَشْتَرُونَ مَوْزَاتِ تُومْ وَيَأْكُلُونَهَا.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	More people come to the stall.

They buy Tom’s bananas and eat them.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Watu wengi wanakuja kwenye kichanja. Wananunua ndizi za Tom na kuzila.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	أُفْرِغَ الطَّبَقُ بِسُرْعَةٍ. أَخَذَ تُومْ يُحْصِي المَالَ الذِي رَبِحَهُ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Soon, the tray is empty.

Tom counts the money he earned.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mara, tenga linakuwa tupu. Tom anahesabu pesa alizopata.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	ثُمَّ اشْتَرَى تُومْ صَابُونًا وَسُكَّرًا وَخُبْزًا وَوَضَعَ المُشْتَرَيَاتِ فِي الطَّبَقِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then Tom buys soap, sugar, and bread.

He puts the things in his tray.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tom ananunua sabauni, sukari, na mkate. Anaweka vitu kwenye tenga lake.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	وَضَعَ تُومْ الطَّبَقَ عَلَى رَأْسِهِ وَرَجَعَ إِلَى مَنْزِلِهِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Tom balances the tray on his head and goes home.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tom anajitwisha tenga kichwani na kwenda nyumbani.
	</h3></div>
	{% include audiocontrols_colophon.html index="13" prev="12" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
