---
title: "خَلَايْ تَتَحَدَّثُ إِلَى النَّبَاتَاتِ"
layout: "story"
id: "0089"
language: "ar"
langname: "Arabic"
level: "2"
text: "Ursula Nafula"
illustration: "Jesse Pietersen"
translation: "Heba Tesheh, Maaouia Haj Mabrouk"
reader: "Mashael Muhanna"
license: "by"
version: "4"
nc: ""
colour: "yes"
source: "khalai-talks-plants"
asptitle: "Khalai talks to plants"
entitle: "Khalai talks to plants"
swtitle: "Khalai parle aux plantes"
order: "22"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	هَذِهِ خَلَايْ.
عُمُرُهَا سَبْعُ سِنِينَ. مَعْنَى اِسْمِهَا "الشَّخْصُ الجَيِّدُ".
يُدْعَى فِي لُغَتِهَا "لُوبُوكُوزُو".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	This is Khalai.
She is seven years old.
Her name means ‘the
good one' in her
language, Lubukusu.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Khalai ni msichana
mwenye umri wa miaka
saba. Jina lake lina
maana ya ‘aliye mzuri’
katika lugha yake ya
Lubukusu.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	تَسْتَيْقِظُ خَلَايْ كُلَّ صَبَاحٍ وَتَقُولُ لِشَجَرَةِ البُرْتُقَالِ: "أَرْجُوكِ يَا شَجَرَةَ البُرْتُقَالِ، اكْبَرِي، وَاعْطِنَا الكَثِيرَ مِنَ البُرْتُقَالِ الطًازَجِ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Khalai wakes up and
talks to the orange tree.
“Please orange tree,
grow big and give us
lots of ripe oranges."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Khalai anaamka na
kuaongea na mmea
mchanga wa
Mchungwa, “Tafadhali
mti wa Mchungwa, kua
mkubwa uzae
machungwa mengi
mabivu.”
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	تَمْشِي خَلَايْ إِلَى المَدْرَسَةِ، وَفِي طَرِيقِهَا تَتَحَدَّثُ مَعَ الأَعْشَابِ.
"أَرْجُوكِ أَيَّتُهَا الأَعْشَابُ، اكْبَرِي وَابْقَيْ خَضْرَاءَ وَلَا تَجُفّيِ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Khalai walks to school.
On the way she talks to
the grass. “Please
grass, grow greener
and don't dry up."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Khalai anaenda shuleni
na njiani anaongea na
Nyasi, “Tafadhali Nyasi,
kua kijani zaidi na zaidi
na wala usikauke.”
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	تَمُرُّ خَلَايْ أَمَامَ الأَزْهَارِ البَرِّيَّةِ.
"أَرْجُوكِ أَيَّتُهَا الأَزْهَارُ، اِبْقَيْ مُزْهِرَةً لِأَسْتَطِيعَ أَنْ أَضَعَكِ فَوْقَ شَعْرِي".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Khalai passes wild
flowers. “Please
flowers, keep blooming
so I can put you in my
hair."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Khalai anayapita Maua
ya mwituni na kusema,
“Tafadhali Maua,
endelea kunawiri ili
niweze kukuweka
kwenye nywele zangu.”
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	فِي المَدْرَسِةِ، تَتَحَدَّثُ خَلَايْ مَعَ الشَّجَرَةِ التِي فِي مُنْتَصَفِ المَبْنَى.
"أَرْجُوكِ أَيَتُهَا اَلشَّجَرَةُ، مُدِّي أَغْصانَكِ الكَبيرَةَ لِنَسْتَطيعَ اَلقِراءَةَ تَحْتَ ظِلِكِ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	At school, Khalai talks
to the tree in the
middle of the
compound. “Please
tree, put out big
branches so we can
read under your shade."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Akiwa shuleni, Khalai
anauzungumzia Mti
ulioko katikati ya shule,
“Tafadhali Mti, zaa
matawi makubwa ili
tusomee chini ya kivuli
chako.”
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	تَتَحَدَثُ خَلَايْ مَع اَلشُّجيراتِ الصَّغيرَةِ.
"أَرجوكِ، اِكْبَري وَكُونِي قَويَّةً لِتَمْنَعِي الأَشْخَاصَ السيِّئينَ مِنَ اَلدُخُولِ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Khalai talks to the
hedge around her school.
“Please grow strong
and stop bad people
from coming in."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Khalai anauzungumzia
ua unaoizingira shule
yake, “Tafadhali Ua, kua
mwenye nguvu ili uzuie
shule yetu kutokana na
watu wabaya.”
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	عِنْدَمَا تَعَودُ خَلَايْ إِلَى البَيْتِ، تَزُورُ شَجَرَةَ اَلبُرتُقالِ، وتَسْأَلُهَا: "أَلَمْ يُصْبِحْ بُرْتُقَالِكِ طَازَجًا بَعْدُ؟"
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When Khalai returns
home from school, she
visits the orange tree.
“Are your oranges ripe
yet?” asks Khalai.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Anaporudi nyumbani
alasiri, Khalai
anautembelea mti wa
Mchungwa kuangalia
ikiwa machungwa
yameiva.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	تَتَنَهَّدُ خَلَايْ: "اَلبُرْتُقالُ لَازَالَ أَخْضَراً".
ثُمَّ تَقُولُ: "سَوفَ أَرَاكِ يَا شَجَرَةَ اَلبُرْتُقالَ غَداً، بَعْدَهَا رُبَّمَا سَيكُونُ لَدَيْكِ بُرْتُقالاً طَازَجاً لِي".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“The oranges are still
green,” sighs Khalai.
“I will see you tomorrow
orange tree,” says
Khalai. “Perhaps then
you will have a ripe
orange for me!”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	“Machungwa bado
mabichi,” Khalai
anashusha pumzi.
“Nitakuona kesho, we
mti Mchungwa. Labda
utanipa chungwa mbivu
wakati huo.”
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
