---
title: "Nozibele na nywele tatu"
layout: "story"
id: "0066"
language: "sw"
langname: "Kiswahili"
level: "3"
text: "Tessa Welch"
illustration: "Wiehan de Jager"
translation: "Matteo E. Mwita"
reader: ""
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "nozibele-and-three-hairs"
asptitle: "Nozibele and the three hairs"
entitle: "Nozibele and the three hairs"
swtitle: "Nozibele et les trois cheveux"
order: "33"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Hapo zamani za kale, wasichana watatu walienda kukusanya kuni.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	A long time ago, three girls went
out to collect wood.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hapo zamani za kale, wasichana watatu walienda kukusanya kuni.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Ilikuwa ni siku yenye jua kali wakaamua kwenda mtoni kuogelea. Wakaogelea huku wakicheza na kurushiana maji.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	It was a hot day so they went down
to the river to swim.
They played and splashed and
swam in the water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ilikuwa ni siku yenye jua kali wakaamua kwenda mtoni kuogelea. Wakaogelea huku wakicheza na kurushiana maji.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Ghafla waligundua kuwa muda umekwenda. Wakaharakisha kurudi nyumbani.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Suddenly, they realised that it was
late.
They hurried back to the village.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ghafla waligundua kuwa muda umekwenda. Wakaharakisha kurudi nyumbani.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Walipokuwa wanakaribia kufika nyumbani, Nozibele akajishika shingoni. Alikuwa amesahau shanga zake! "Tafadhali turudini!" aliwasihi rafiki zake. Lakini rafiki zake wakasema tumechelewa.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When they were nearly home,
Nozibele put her hand to her neck.
She had forgotten her necklace!
"Please come back with me!" she
begged her friends.
But her friends said it was too late.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Walipokuwa wanakaribia kufika nyumbani, Nozibele akajishika shingoni. Alikuwa amesahau shanga zake! "Tafadhali turudini!" aliwasihi rafiki zake. Lakini rafiki zake wakasema tumechelewa.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Kwahiyo Nozibele karudi mwenyewe mtoni. Akapata shanga zake akakimbia kurudi nyumbani. Lakini akapotea gizani.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	So Nozibele went back to the river
alone.
She found her necklace and hurried
home.
But she got lost in the dark.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kwahiyo Nozibele karudi mwenyewe mtoni. Akapata shanga zake akakimbia kurudi nyumbani. Lakini akapotea gizani.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Kwa mbali akaona mwanga unatoka kwenye nyumba. Akakimbilia kwenye nyumba na kugonga mlango.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	In the distance she saw light
coming from a hut.
She hurried towards it and knocked
at the door.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kwa mbali akaona mwanga unatoka kwenye nyumba. Akakimbilia kwenye nyumba na kugonga mlango.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Akastajabu kumwona umbwa akifungua mlango na akasema, "Unataka nini?" "Nimepotea na ninatafuta sehemu ya kulala," akasema Nozibele. "Ingia ndani, lasivyo nitakung'ata!" mbwa akamwambia. Nozibele akaingia ndani.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	To her surprise, a dog opened the
door and said, "What do you want?"
"I'm lost and I need a place to
sleep," said Nozibele.
"Come in, or I'll bite you!" said the
dog.
So Nozibele went in.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Akastajabu kumwona umbwa akifungua mlango na akasema, "Unataka nini?" "Nimepotea na ninatafuta sehemu ya kulala," akasema Nozibele. "Ingia ndani, lasivyo nitakung'ata!" mbwa akamwambia. Nozibele akaingia ndani.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Mbwa akamwambia tena, "Nipikie!" "Sijawahi kumpikia mbwa" akaijibu. "Pika, lasivyo nitakung'ata!" mbwa akasema. Nozibele akampikia mbwa chakula.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then the dog said, "Cook for me!"
"But I've never cooked for a dog
before," she answered.
"Cook, or I'll bite you!" said the dog.
So Nozibele cooked some food for
the dog.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbwa akamwambia tena, "Nipikie!" "Sijawahi kumpikia mbwa" akaijibu. "Pika, lasivyo nitakung'ata!" mbwa akasema. Nozibele akampikia mbwa chakula.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Mbwa akamwambia tena "Nitandikie kitanda!" Nozibele akajibu, "Sijawahi kumtandikia mbwa kitanda." "Tandika kitanda, lasivyo nitakung'ata" mbwa akasema. Nozibele akatandika kitanda.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then the dog said, "Make the bed
for me!"
Nozibele answered, "I've never
made a bed for a dog."
"Make the bed, or I'll bite you!" the
dog said.
So Nozibele made the bed.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbwa akamwambia tena "Nitandikie kitanda!" Nozibele akajibu, "Sijawahi kumtandikia mbwa kitanda." "Tandika kitanda, lasivyo nitakung'ata" mbwa akasema. Nozibele akatandika kitanda.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	Akawa kila siku anampikia, mfulia na kumfagilia mbwa. Siku moja mbwa akasema, "Nozibele, leo naenda kuwatembelea rafiki zangu. Fagia nyumba, pika chakula na osha vitu vyangu kabla sijarudi."
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Every day she had to cook and
sweep and wash for the dog.
Then one day the dog said,
"Nozibele, today I have to visit
some friends. Sweep the house,
cook the food and wash my things
before I come back."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Akawa kila siku anampikia, mfulia na kumfagilia mbwa. Siku moja mbwa akasema, "Nozibele, leo naenda kuwatembelea rafiki zangu. Fagia nyumba, pika chakula na osha vitu vyangu kabla sijarudi."
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	Mara baada tu ya mbwa kuondoka, Nazibele akanyofoa nywele tatu kutoka kwenye kichwa chake. Akaweka nywele moja chini ya kitanda, moja nyuma ya mlango, na nyingine akaweka kwenye uzio wa nyumba. Alafu, akakimbia kuelekea nyumbani kwa nguvu zote.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	As soon as the dog had gone,
Nozibele took three hairs from her
head.
She put one hair under the bed, one
behind the door, and one in the
kraal.
Then she ran home as fast as she
could.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mara baada tu ya mbwa kuondoka, Nazibele akanyofoa nywele tatu kutoka kwenye kichwa chake. Akaweka nywele moja chini ya kitanda, moja nyuma ya mlango, na nyingine akaweka kwenye uzio wa nyumba. Alafu, akakimbia kuelekea nyumbani kwa nguvu zote.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	Mbwa aliporudi akaanza kumtafuta Nozibele. "Nozibele, uko wapi?" akapiga kelele. "Niko hapa, chini ya kitanda," nywele ya kwanza ikajibu. "Nipo hapa nyuma ya mlango," nywele ya pili ikajibu. "Niko hapa kwenye uzio," nywele ya tatu ikajibu.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When the dog came back, he looked
for Nozibele.
"Nozibele, where are you?" he
shouted.
"I'm here, under the bed," said the
first hair.
"I'm here, behind the door," said the
second hair.
"I'm here, in the kraal," said the
third hair.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbwa aliporudi akaanza kumtafuta Nozibele. "Nozibele, uko wapi?" akapiga kelele. "Niko hapa, chini ya kitanda," nywele ya kwanza ikajibu. "Nipo hapa nyuma ya mlango," nywele ya pili ikajibu. "Niko hapa kwenye uzio," nywele ya tatu ikajibu.
	</h3></div>
	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	Mbwa akagundua kuwa Nozibele ame muhadaa. Kwahiyo akimbia kuelekea kijijini. Kaka zake Nozibele walikuwa wakimsubiri na fimbo. Mbwa alipowaona akarudi na kukimbia, hajawahi kuonekana tena.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then the dog knew that Nozibele
had tricked him.
So he ran and ran all the way to the
village.
But Nozibele's brothers were
waiting there with big sticks.
The dog turned and ran away and
has never been seen since.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbwa akagundua kuwa Nozibele ame muhadaa. Kwahiyo akimbia kuelekea kijijini. Kaka zake Nozibele walikuwa wakimsubiri na fimbo. Mbwa alipowaona akarudi na kukimbia, hajawahi kuonekana tena.
	</h3></div>
	{% include audiocontrols_colophon.html index="14" prev="13" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
