---
layout: levelindex
language: gu
langname: Gujarati
level: 2
---
<h1>Storybooks Kenya</h1>
<h2>Gujarati - Level 2</h2>

<div class="container">
  <div class="columns">{% assign sorted_pages = site.pages | sort: 'order' %}{% for page in sorted_pages %}{% if page.language == "gu" and page.layout == "story" %}{% if page.level == "2" %}
    <div class="column col-3 col-md-4 col-sm-6 col-xs-12">
      <a class="btn-link" href="/stories/gu/{{page.id}}/">
        <div class="card">
        <div class="card-image"><img class="img-responsive" src="https://raw.githubusercontent.com/global-asp/asp-imagebank/master/medium/{{page.id}}/01.jpg"></div>
        <div class="card-header">
        <h3 class="card-title">{{page.title}}</h3>
        <div class="bar">
        <div class="bar-item tooltip" data-tooltip="Level 2" style="width:20%;">Level 2</div>
        </div>
    </div>
  </div>
    </a>
  </div>{% endif %}{% endif %}{% endfor %}
  </div>
</div>
