---
layout: default
language: en
---
<h1>Storybooks Kenya</h1>

<h4>Storybooks Kenya is designed specifically for educators and makes 40 stories from the African Storybook available in English and Swahili, as well as the major national, immigrant and refugee languages of Kenya (with text and audio in Gikuyu, Gujarati, Somali, Afan Oromo, and Afan Oromo <a href="languages.html">among others</a>).</h4>

<div class="container">
  <div class="columns">{% assign sorted_pages = site.pages | sort: "order" %}{% for page in sorted_pages %}{% if page.language == "en" and page.layout == "story" %}
    <div class="column col-3 col-md-4 col-sm-6 col-xs-12">
      <a class="btn-link" href="/storybooks-kenya/stories/en/{{page.id}}/">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="https://raw.githubusercontent.com/global-asp/asp-imagebank/master/medium/{{page.id}}/01.jpg"></div>
          <div class="card-header">
            <h3 class="card-title">{{page.title}}</h3></a>{% if page.level == "1" %}
            <div class="bar">
              <div class="bar-item tooltip" data-tooltip="Level 1" style="width:20%;"><a href="/storybooks-kenya/stories/en/level1" style="color:white">Level 1</a></div>
            </div>{% endif %}{% if page.level == "2" %}
            <div class="bar">
              <div class="bar-item tooltip" data-tooltip="Level 2" style="width:40%;"><a href="/storybooks-kenya/stories/en/level2" style="color:white">Level 2</a></div>
            </div>{% endif %}{% if page.level == "3" %}
            <div class="bar">
              <div class="bar-item tooltip" data-tooltip="Level 3" style="width:60%;"><a href="/storybooks-kenya/stories/en/level3" style="color:white">Level 3</a></div>
            </div>{% endif %}{% if page.level == "4" %}
            <div class="bar">
              <div class="bar-item tooltip" data-tooltip="Level 4" style="width:80%;"><a href="/storybooks-kenya/stories/en/level4" style="color:white">Level 4</a></div>
            </div>{% endif %}{% if page.level == "5" %}
            <div class="bar">
              <div class="bar-item tooltip" data-tooltip="Level 5" style="width:100%;"><a href="/storybooks-kenya/stories/en/level5" style="color:white">Level 5</a></div>
            </div>{% endif %}
          </div>
        </div>
    </div>{% endif %}{% endfor %}
  </div>
</div>
