---
title: "ماقزوي"
layout: "story"
id: "0262"
language: "ar"
langname: "Arabic"
level: "5"
text: "Lesley Koyi"
illustration: "Wiehan de Jager"
translation: "Maaouia Haj Mabrouk"
reader: "Mashael Muhanna"
license: "by"
version: "4"
nc: ""
colour: "yes"
source: "magozwe-0"
asptitle: "Magozwe"
entitle: "Magozwe"
swtitle: "Magozwe"
order: "40"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	في مدينة نيروبي الصاخبة، بعيداً عن الحياة العائلية ودفئها، يعيش مجموعة من الصبيان بدون مأوى. كانوا يستقبلون كل يوم كما يأتي، لا أمل لهم فيه.
وفي صباح أحد الأيام، أخذ الأطفال يحزمون حصائرهم بعد النوم على الأرصفة الباردة، ثم أشعلوا ناراً مما وجدوه من قمامة لمقاومة البرد. كان ماقزوي أحد هؤلاء الصبيان وكان أصغرهم سناً.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	In the busy city of Nairobi, far away from a caring life at home, lived a group of homeless boys. They welcomed each day just as it came.

On one morning, the boys were packing their mats after sleeping on cold pavements. To chase away the cold they lit a fire with rubbish.

Among the group of boys was Magozwe. He was the youngest.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Katika jiji la shughuli nyingi la Nairobi,
mbali na maisha ya nyumbani, paliishi
kikundi cha wavulana wasiokuwa na
makazi.
Waliikaribisha kila siku ilivyokuja.
Asubuhi moja wavulana hao walikuwa
wanaweka mikeka yao baada ya kulalia
lami baridi.
Walikoka moto karibu na biwi la takataka
kutumia makaratasi ili kufukuzia mbali
baridi.
Miongoni mwa wavulana hao alikuwa
Magozwe, mdogo kwa wote.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	كان ماقزوي يبلغ من العمر خمس سنوات عندما توفي والداه، فانتقل للعيش مع خاله. لكن هذا الرجل لم يكترث بالطفل ولم يوفر له القدر الكافي من الطعام كما كان يجبره على القيام بأعمال شاقة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When Magozwe’s parents died, he was only five years old. He went to live with his uncle. This man did not care about the child. He did not give Magozwe enough food. He made the boy do a lot of hard work.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wazazi wa Magozwe walipofariki,
alikuwa na umri wa miaka mitano pekee
na alienda kuishi na mjombake. Mtu
huyu hakumjali mtoto. Hakumpatia
Magozwe chakula cha kutosha.
Alimfanyisha Magozwwe kazi nzito za
nyumbani.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	وكان أيضاً يضربه كلما استفسر ماقزوي عن أمر أو تذمر من كثرة العمل. وعندما طلب ماقزوي من خاله أن يسمح له بالذهاب إلى المدرسة ضربه من جديد قائلا: "أنت غبي جدا ولن تتعلم أي شيء".
وبعد ثلاث سنوات من هذه المعاملة القاسية، هرب ماقزوي من خاله وبدأ يعيش في الشارع.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	If Magozwe complained or questioned, his uncle beat him. When Magozwe asked if he could go to school, his uncle beat him and said, “You’re too stupid to learn anything.”

After three years of this treatment Magozwe ran away from his uncle. He started living on the street.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Magozwe alipolia au kulalamika au
kumdadisi, mjombake alimpiga.
Magozwe alipouliza kama angeenda
shule, mjombake alimpiga na kusema,
“Usinisumbue na hayo, wewe ni mjinga
huwezi kujifunza chochote.”
Kwa hivyo baada ya miaka mitatu ya
kudhulumiwa, Magozwe alitoroka kutoka
kwa mjombake na kuanza kuishi mitaani.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	كانت الحياة في الشارع صعبة وكان أغلب الأطفال يعانون يومياً من أجل لقمة العيش. فكانت الشرطة تلقي عليهم القبض أحياناً، وأحياناً أخرى كانوا يتعرضون للضرب. وكانوا إذا ما مرضوا لا يجدون من يقدم لهم يد المساعدة. كانت مجموعة الأطفال تعتمد على النزر القليل من المال الذي كانوا يحصلون عليه من التسول ومن بيع البلاستيك ومواد أخرى مما تقع إعادة تدويره.
كانت الحياة تزداد صعوبة خاصة بسبب المعارك التي تحدث بين جماعات الأطفال المتنافسة من أجل السيطرة على أحياء المدينة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Street life was difficult and most of the boys struggled daily just to get food. Sometimes they were arrested, sometimes they were beaten. When they were sick, there was no one to help.

The group depended on the little money they got from begging, and from selling plastics and other recycling.

Life was even more difficult because of fights with rival groups who wanted control of parts of the city.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Maisha ya mitaani yalikuwa magumu na
wengi wao walijitahidi kila siku ili kupata
chakula. Wakati mwingine walikamatwa,
walichapwa na wananchi au waliugua.
Kikundi hicho kilitegemea mapato
waliyopata kwa kuomba omba na kuuza
plastiki, vyuma, chupa na magazeti
makuu kuu. Maisha vile vile yalikuwa
magumu kutokana na vita baina yao na
makundi ya wavulana waliotaka kudhibiti
baadhi ya sehemu za jiji.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	وفي يوم من الأيام، بينما كان ماقزوي يبحث في صناديق القمامة عن شيء يأكله، إذ به يجد مجموعة قصص رثة ممزقة. قام ماقزوي بتنظيف القصص من الأوساخ ووضعها في جرابه.
وكان كل يوم يخرج الكتاب من كيسه وينظر إلى الصور، إذ لم يكن ماقزوي يعرف قراءة الكلمات.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day while Magozwe was looking through the dustbins, he found an old tattered storybook. He cleaned the dirt from it and put it in his sack.

Every day after that he would take out the book and look at the pictures. He did not know how to read the words.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja wakati Magozwe alipokuwa
akichunguza kwenye mapipa ya taka,
alipata kitabu kizee cha hadithi. Alifuta
vumbi na kukiweka ndani ya gunia lake.
Baadaye kila siku alizoea kukitoa na
kuangalia picha.
Hakujua kusoma maneno.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	كانت الصور تحكي قصة طفل نشأ ليكون طياراً. أصبح ماقزوي يمضي يومه حالماً بأن يكون طياراً، وكان من حين لآخر يرى نفسه مكان ذاك الولد الذي تصفه الصور.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The pictures told the story of a boy who grew up to be a pilot.

Magozwe would daydream of being a pilot. Sometimes, he imagined that he was the boy in the story.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Picha zilielezea jinsi mvulana mmoja
alikua na kuwa rubani wa ndege.
Magozwe aliotea kuwa rubani bora
ulimwenguni. Mara nyingine, angefumba
macho na kufikiria kuwa alikuwa
akiendesha ndege iliyokuwa kubwa na
kwenda kwa kasi kuliko zingine zote!
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	كان الجو بارداً وكان ماقزوي يقف متسولاً في الطريق عندما تقدم إليه رجل قائلا: "أهلاً... أنا توماس. أعمل قريباً من هنا، في مكان يمكن أن تجد فيه شيئاً تأكله". وأشار بإصبعه إلى منزل أصفر ذي سقف أزرق، وسأل ماقزوي: "ألا ترغب في الذهاب إلى هناك لتناول بعض الطعام؟". نظر ماقزوي إلى الرجل ثم إلى المنزل وقال: "ربما" وانصرف بعيداً.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	It was cold and Magozwe was standing on the road begging. A man walked up to him. “Hello, I'm Thomas. I work near here, at a place where you can get something to eat,” said the man.

He pointed to a yellow house with a blue roof. “I hope you will go there to get some food?” he asked.

Magozwe looked at the man, and then at the house. “Maybe,” he said, and walked away.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ulikuwa msimu wa baridi kali na
Magozwe alisimama barabarani akiomba
omba kwa watu wenye magari.
Mwnamme mmoja alimkaribia.
“Hujambo, naitwa Tomaso. Nafanya kazi
karibu hapa, pahali ambapo unaweza
kupata chakula,” mwanamme alisema
huku akionyesha nyumba yenye paa la
bluu. “Natumai utakwenda huko kupata
chakula kidogo?” Tomaso aliuliza.
Magozwe alimwangalia yule
mwanamme, kisha akaiangalia ile
nyumba. “Labda,” alisema, halafu
akaondoka na kwenda zake.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	توالت الأشهر بعد ذلك، وتعود الأولاد المشردون على رؤية توماس يرتاد المكان الذي يتواجدون فيه. كان يحب الحديث إلى الناس، وخاصة من كانوا يعيشون في الشوارع. كان يستمع إلى قصص حياتهم. وكان جدياً، صبوراً، ولم يكن قاسياً أبداً ولا قليل الاحترام لهم.
بدأ بعض الصبيان يترددون على المنزل ذي اللونين الأصفر والأزرق للحصول على ما يسد رمقهم عند منتصف النهار.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Over the months that followed, the homeless boys got used to seeing Thomas around. He liked to talk to people, especially people living on the streets.

Thomas listened to the stories of people’s lives. He was serious and patient, never rude or disrespectful. Some of the boys started going to the yellow and blue house to get food at midday.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Miezi iliyofuata, wavulana wale wa
mitaani walizoea kumwona Tomaso
pale. Alipenda kuzungumza na watu,
hasa walioishi mitaani. Alisikiliza hadithi
za maisha ya watu kwa makini. Tomaso
alikuwa na nia nzuri na mvumilivu na
hakuwa mjeuri wala mkosa heshima kwa
yeyote, hata kwa mtoto mdogo. Baadhi
ya wavulana walianza kwenda katika
nyumba ya paa la bluu ili kupata supu na
mkate wakati wa mchana.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	كان ماقزوي يوما ما جالساً على الرصيف يتأمل كتاب الصور عندما جلس توماس لجانبه وسأله: "عما تحكي هذه القصة؟".
أجاب ماقزوي:"عن ولد أصبح طياراً".
قال توماس: "ما اسم هذا الولد؟"
أجاب ماقزوي بهدوء: "لا أعرف. لا أستطيع القراءة".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Magozwe was sitting on the pavement looking at his picture book when Thomas sat down next to him.

“What is the story about?” asked Thomas.

“It’s about a boy who becomes a pilot,” replied Magozwe.

“What’s the boy’s name?” asked Thomas.

“I don’t know, I can’t read,” said Magozwe quietly.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Magozwe alikuwa ameketi akiangalia
kitabu chake cha picha wakati Tomaso
alikaa karibu naye. “Hadithi inahusu
nini?” Tomaso aliuliza.
“Inahusu mvulana anayekuwa rubani,”
Magozwe alijibu.
“Jina lake ni nani?” Tomaso aliuliza.
“Sijui, siwezi kusoma,” Magozwe alisema
kwa sauti ya chini.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	عندما تقابلا، بدأ ماقزوي يسرد قصته على توماس، قصته مع خاله وكيف هرب منه. لم يتكلم توماس كثيرا، ولم يُمْلِ على ماقزوي ما يجب عليه فعله، لكنه كان يصغي إليه بانتباه طوال الوقت. وكانا أحياناً يواصلان حديثهما بينما يتناولان الطعام في المنزل ذي السقف الأزرق.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When they met, Magozwe began to tell his own story to Thomas. It was the story of his uncle and why he ran away.

Thomas didn’t talk a lot, and he didn’t tell Magozwe what to do, but he always listened carefully.

Sometimes they would talk while they ate at the house with the blue roof.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Walipokutana namna hii, Magozwe
alianza kumhadithia Tomaso maisha
yake. Ilihusu mjombake na sababu
iliyomfanya atoroke kutoka kwake.
Tomaso hakuongea sana, na wala
hakumwambia Magozwe cha kufanya
bali alisikiliza kwa makini kila mara.
Wakati mwingine waliongea wakiwa
wanakunywa supu na kula mkate katika
ile nyumba ya paa la bluu.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	وبحلول عيد ميلاد ماقزوي العاشر، أهداه توماس قصةً جديدةً. كانت القصة تحكي عن ولد نشأ في قرية ليصبح بعد ذلك لاعب كرة قدم مشهور. قرأ توماس القصة مرات عديدة لماقزوي، ثم قال له في أحد الأيام: "أظن أن الوقت قد حان لتذهب إلى المدرسة وتتعلم القراءة، ما رأيك؟" وأوضح له بأنه يعرف مكانا يمكن لأطفال الشوارع أن يقيموا فيه ويرتادوا المدرسة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Around Magozwe’s tenth birthday, Thomas gave him a new storybook. It was a story about a village boy who grew up to be a famous soccer player.

Thomas read that story to Magozwe many times, until one day he said, “I think it’s time you went to school and learned to read. What do you think?” Thomas explained that he knew of a place where children could stay, and go to school.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakati Magozwe angesherehekea miaka
kumi ya kuzaliwa kwake, Tomaso
alimpatia kitabu kipya cha hadithi.
Hadithi ilikuwa juu ya mvulana wa kijiji
aliyekuwa mchezaji kandanda maarufu.
Tomaso alimsomea Magozwe hadithi
hiyo mara nyingi hadi siku moja
aliposema, “Nadhani wakati umewadia
wa wewe kwenda shule ili ujisomee
hadithi hii mwenyewe. Unaonaje?”
Tomaso alieleza kwamba alipafahamu
mahali ambapo watoto wangeweza
kukaa, kuishi na kwenda shule.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	فكر ماقزوي في هذا المكان الجديد وفي الذهاب إلى المدرسة وتساءل: "ماذا لو كان خاله على حق حينما نعته بالغبي؟ لن يستطيع تعلم أي شيء عند ذلك. ماذا لو قاموا بضربه في ذاك المكان الجديد؟" شعر ماقزوي بالخوف وقال محدثا نفسه: "قد يكون من الأفضل لي مواصلة العيش في الشارع".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Magozwe thought about this new place, and about going to school. What if his uncle was right and he was too stupid to learn anything?

What if they beat him at this new place? He was afraid. “Maybe it is better to stay living on the street,” he thought.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Magozwe alifikiria juu ya mahali hapo
papya na juu ya kwenda shule. Labda
mjombake alisema ukweli kwamba yeye
ni mjinga na hangeweza kujifunza
chochote? Je, na akipigwa huko?
Aliogopa.
“Labda ni heri kubaki mitaani,” aliwaza.
	</h3></div>
	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	أعلم ماقزوي توماس بمخاوفه. وبمرور الوقت طمأن توماس الصبي بأن الحياة قد تكون أفضل في المكان الجديد.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	He shared his fears with Thomas. Over time the man reassured the boy that life could be better at the new place.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alimwelezea Tomaso mawazo yake na
hofu aliyokuwa nayo. Muda ulipoenda,
Tomaso alifaulu kumhakikishia
Magozwe kwamba mahali pale papya ni
salama na maisha yangekuwa bora.
	</h3></div>
	{% include audiocontrols.html index="14" prev="13" next="15" %}
</div>
<hr>

<div id="text15" class="columns">
	{% include picturecol.html index="15" %}	{% include textcol_start.html %}	لذا انتقل ماقزوي للعيش بغرفة في منزل ذي سقف أخضر. تقاسم الغرفة مع صبيين آخرين. كان المنزل يضم عشرة أولاد إلى جانب العمة سيسي وزوجها وثلاثة كلاب وقطة وعنزة عجوز.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	And so Magozwe moved into a room in a house with a green roof. He shared the room with two other boys.

Altogether there were ten children living at that house. Along with Auntie Cissy and her husband, three dogs, a cat, and an old goat.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kwa hivyo, Magozwe alihamia katika
chumba ndani ya nyumba ya paa la kijani
kibichi.
Alikitumia chumba hicho pamoja na
wavulana wengine wawili. Jumla
walikuwa watoto kumi walioishi katika
nyumba ile. Pamoja nao palikuwa
Shangazi Cissy na mumewe, mbwa
watatu, paka na mbuzi mzee.
	</h3></div>
	{% include audiocontrols.html index="15" prev="14" next="16" %}
</div>
<hr>

<div id="text16" class="columns">
	{% include picturecol.html index="16" %}	{% include textcol_start.html %}	بدأ ماقزوي الدراسة. كانت صعبة في البدء، وكان عليه أن يعمل جاهداً لتدارك ضعفه. مرت عليه لحظات يأس أراد فيها أن يغادر المكان لكنه كان في كل مرة يتذكر قائد الطائرة ولاعب كرة القدم اللذين تحكي عنهما القصص، وعقد العزم على ألا يغادر المدرسة وأن يواصل تعليمه.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Magozwe started school and it was difficult. He had a lot to catch up. Sometimes he wanted to give up.

But he thought about the pilot and the soccer player in the storybooks. Like them, he did not give up.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Magozwe alianza kwenda shule na
haikuwa rahisi. Mara nyingi alitaka
kukata tamaa. Lakini alipofikiria juu ya
rubani na mchezaji kandanda maarfu
aliosoma katika vitabu vya hadithi,
alivumilia.
	</h3></div>
	{% include audiocontrols.html index="16" prev="15" next="17" %}
</div>
<hr>

<div id="text17" class="columns">
	{% include picturecol.html index="17" %}	{% include textcol_start.html %}	وفي يوم من الأيام، كان ماقزوي جالسا في فناء المنزل ذي السقف الأخضر يقرأ قصة من المدرسة عندما أقبل توماس وجلس لجانبه سائلا: "عما تتحدث القصة؟" رد ماقزوي قائلا: "إنها تحكي عن صبي أصبح مدرسا" سأل توماس: "ما اسم هذا الصبي؟" أجاب ماقروي مبتسما: "اسمه ماقزوي".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Magozwe was sitting in the yard at the house with the green roof, reading a storybook from school. Thomas came up and sat next to him.

“What is the story about?” asked Thomas.

“It’s about a boy who becomes a teacher,” replied Magozwe.

“What’s the boy’s name?” asked Thomas.

“His name is Magozwe,” said Magozwe with a smile.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Magozwe alikuwa ameketi uani nje ya
nyumba ya paa la kijani kibichi akisoma
kitabu cha shule. Tomaso alikuja na
kukaa karibu naye.
“Hadithi inahusu nini? Tomaso aliuliza.
“Inahusu mvulana ambaye anakuwa
mwalimu,” Magozwe alijibu.
“Jina la mvulana ni gani?” Tomaso
aliuliza tena.
“Jina lake ni Magozwe,” Magozwe
alisema huku akitabasamu.
	</h3></div>
	{% include audiocontrols_colophon.html index="17" prev="16" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
