---
title: "Lwaki Envubu tezirina bwoya"
layout: "story"
id: "0111"
language: "lg"
langname: "Luganda"
level: "2"
text: "Basilio Gimo, David Ker"
illustration: "Carol Liddiment"
translation: "Joshua Waswa Mwesigwa"
reader: ""
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "why-hippos-have-no-hair"
asptitle: "Why hippos have no hair"
entitle: "Why hippos have no hair"
swtitle: "Pourquoi les hippopotames n'ont pas de poils"
order: "16"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Lwali lumu nga
Wakayima atambula
kulubalama lw'omugga
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day, Rabbit was walking by the riverside.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja, Sungura alikuwa akitembea pembeni mwa mto.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Envubu nayo yaliwo
ng'eyimiride era nga
bw'erya kumuddo
ogwakiragala ogwali
gulabika obulungi.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Hippo was there too, going for a stroll and eating some nice green grass.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kiboko alikuwepo pia, akitembea huku akila majani.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Envubu teyalaba
wakayima, era
mubutanwa Envubu
n'erinnya kukigere kya
Wakayima.
Wakayima n'akaaba
nga bw'alekaanira
Envubu nti “Nvubu gwe,
tolaba nti onninye
kukigere ?”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Hippo didn't see that Rabbit was there and she accidentally stepped on Rabbit's foot.

Rabbit started screaming at Hippo, "You Hippo! Can't you see that you're stepping on my foot?"
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kiboko hakumwona Sungura na kwa bahati mbaya akaukanyaga mguu wa Sungura. Sungura akaanza kumpigia Kiboko kelele "We Kiboko huoni kama umeukanyaga mguu wangu?"
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Envubu ne yetondera
Wakayima nti;
“Ow'omukwano bambi
nsonyiwa, mbade
sikulabye.”
Wakayima teyawuliriza
Nvubu, era mu
ddoboozi eryawaggulu
nagidamu nti
“Okigenderedde! era
olunaku lumu ojja
kukisasulira”.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Hippo apologised to Rabbit, "I'm so sorry. I didn't see you. Please forgive me!"

But Rabbit wouldn't listen and he shouted at Hippo, "You did that on purpose! Someday, you'll see! You're going to pay!"
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kiboko akamwomba Sungura msamaha, "Samahani, sikukuona, tafadhali nisamehe!" Lakini Sungura hakukubali na akaendelea kumbwatukia Kiboko, "Umefanya makusudi! Kuna siku utakiona, na ntakulipizia!"
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Awo Wakayima n'agenda ew' Omuliro nagugamba nti,
“Genda oyokye Envubu bwe banga evude ku mugga okulya
omuddo. Kubanga eninye kukigere kyange!”
K'Omuliro nti “tewali buzibu, Wakayima, mukwano gwange
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Rabbit went to find Fire and said, "Go, burn Hippo when she comes out of the water to eat grass. She stepped on me!"

Fire answered, "No problem, Rabbit, my friend. I'll do just what you ask."
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sungura alienda kumtafuta moto na akamwabia, "Nenda, ukamchome kiboko akitoka majini kuja kula majani. Alinikanyaga!" Moto ukajibu, "Hakuna tatizo, rafiki yangu Sungura, ntafanya ulichoniomba kufanya."
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Oluvanyuma Envubu
yali erya omuddo nga
y'esuddeko akabanga
okuva awali omuga,
Enimi z'Omuliro ne
zigwa ku Nvubu ne
zitandika okwokya
obwoya bw'Envubu
zonna.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Later, Hippo was eating grass far from the river when, "Whoosh!" Fire burst into flame. The flames began to burn Hippo's hair.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baadaye, Kiboko alikuwa akila majani mbali na mto, alipo shtuka moto umelipuka. Miale ya moto ikaanza kuzichoma nywele za kiboko.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Envubu netandika
okukaaba nga
bw'edduka okuyingira
mu mazzi g'omugga.
Obwoya bw'Envubu
bwona nga busiriride
mu muliro.
Envubu nekaaba nnyo.
“Obwoya bwange
bwonna bujjiride mu
muliro”
“Obw'okyeza”
“Obwoya bwange
bwona obulungi
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Hippo started to cry and ran for the water. All her hair was burned off by the fire.

Hippo kept crying, "My hair has burned in the fire! My hair is all gone! My beautiful hair!"
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kiboko akaanza kulia na kukimbilia kwenye maji. Nywele zake zote zilikuwa zimeungua na moto. Kiboko aliendelea kulia, "Nywele zangu zimeingua na moto! Nywele zangu zote zimeondoka! Nywele zangu nzuri!"
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Y'ensonga lwaki Envubu tegenda wala okuva okumpi
n'amazzi olwokutya okwokebwa omuliro.
Era Wakayima yasanyuka nnyo ngabweyewana; “Nange
mwesasuza.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Rabbit was happy that Hippo's hair was burned.

And to this day, for fear of fire, the hippo never goes far from the water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sungura allikuwa na furaha kwakuwa nywele za Kiboko ziliungua. Hadi leo kwa kuogopa moto , Kiboko hawezi kwenda mbali na maji.
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
