---
title: "أَنْدِيسُوا نَجْمَةُ كُرَةِ اَلقَدَمِ"
layout: "story"
id: "0234"
language: "ar"
langname: "Arabic"
level: "2"
text: "Eden Daniels"
illustration: "Eden Daniels"
translation: "Heba Tesheh, Maaouia Haj Mabrouk"
reader: "Mashael Muhanna"
license: "by-nc"
version: "3"
nc: "-NonCommercial"
colour: "yes"
source: "andiswa-soccer-star"
asptitle: "Andiswa Soccer Star"
entitle: "Andiswa Soccer Star"
swtitle: "Andiswa star du football"
order: "23"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	شَاهَدَتْ أَنْدِيسُوا الصِّبْيَةَ يَلْعَبُونَ كُرَةَ اَلقَدَمِ.
كَانَتْ تَتَمَنَّى لَوْ أَنَّهَا تَسْتَطِيعُ أَنْ تَنْضَمَّ إِلَيْهِمْ.
فَسَأَلَتْ اَلمُدَرِّبَ إنْ كَانَتْ تَسْتَطِيعُ أَنْ تتَدَرَّبَ مَعَهُمْ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Andiswa watched the boys play soccer. She wished that she could join them. She asked the coach if she can practise with them.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Andiswa alikuwa anawaangalia wavula wakicheza mpira wa miguu. Alitamani kujiunga nao. Akamwomba kocha kama anaweza kufanya nao mazoezi.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	أَجَابَهَا المُدَرِّبُ: "في هَذِهِ اَلمَدْرَسَةِ لَا يُسْمَحُ إِلَّا لِلْصِّبْيَةِ أَنْ يَلْعَبُوا كُرَةَ اَلقَدَمِ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The coach put his hands on his hips. “At this school, only boys are allowed to play soccer,” he said.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kocha akaweka mikono mfukoni. "Kwenye shule, ni wavula pekee wanao ruhusiwa kucheza mpira wa miguu," alisema.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	قَالَ اَلصِّبْيَةُ لَهَا: "اِلْعَبِي كُرَةَ الشَّبَكَةِ. كُرَةُ الشَّبَكَةِ لِلْبَنَاتِ، وكُرَةُ اَلقَدَمِ لِلْصِّبْيَانِ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The boys told her to go play netball. They said that netball is for girls and soccer is for boys. Andiswa was upset.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wavulana walimwambia aende kucheza mpira wa wavu. Walisema mpira wa wavu ni kwa ajili ya wasichana na mpira wa miguu ni kwa wavulana. Andiswa alijisikia vibaya.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	فِي اليَوْم اَلتَّالي أُقِيمَتْ فِي اَلْمَدْرَسَةِ مُبَارَاةٌ كَبيرةٌ لِكُرَةِ اَلْقَدَمِ.
كَانَ اَلْمُدَرِّبُ قَلِقاً، لِأَنَّ أَفْضَلَ لَاعِبٍ عِنْدَهُ كَانَ مَريضاً، وَلَا يَسْتَطِيعُ اَللَّعِبَ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The next day, the school had a big soccer match. The coach was worried because his best player was sick and could not play.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku iliyofuata, shule yao ilikuwa na mashindano makubwa ya mpira wa miguu. Kocha alikuwa na wasiwasi kwakuwa mchezaji wake wakutegemewa alikuwa mgonjwa na asingecheza.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	رَكَضَت أَنْدِيسُوا وَتَرَجَّتْهُ أَنْ يَدَعَهَا تَلْعَبُ.
لَمْ يَكُنِ اَلْمُدَرِّبُ وَاثِقاً مِمَّا عَلَيْهِ فِعْلَهُ.
بَعْدَ ذَلِكَ قَرَّرَ أَنْ يَسْمَحَ لَهَا بِاَلاِنْضِمَامِ إِلَى اَلْفَريقِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Andiswa ran to the coach and begged him to let her to play. The coach was not sure what to do. Then he decided that Andiswa could join the team.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Andiswa alimwendea kocha na Kumuomba acheze. Kocha hakujua afanye nini. Akaamua kumruhusu Andiswe ajiunge na timu.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	كَانَتْ المُبَارَاةُ صَعْبَةً جِدًّا.
أَصْبَحَتْ فِي مُنْتَصَفِهَا، وَلَمْ يُسَجَّلْ أَيُّ هَدَفٍ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The game was tough. Nobody had scored a goal by half time.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mchezo ulikuwa mgumu na hakuna timu yeyote iliyokuwa imeshinda hadi muda wa mapumziko.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	فِي اَلْنِّصْفِ الثَّانِي مِنَ المُبَارَاةِ، مَرَّرَ أَحَدُ اَلْصِّبْيَةِ اَلْكُرَةَ إِلَى أَنْدِيسُوا.
تَحَرَّكَتْ بِسُرْعَةٍ كَبِيرَةٍ بِاتِّجَاهِ اَلْمَرمَى.
ثُمَّ رَكَلَتْ اَلْكُرَةَ بِقُوَّةٍ وسَجَّلَتْ هَدَفاً.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	During the second half of the match one of the boys passed the ball to Andiswa. She moved very fast towards the goal post. She kicked the ball hard and scored a goal.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakati wa kipindi cha pili kijana mmoja alimpatia Andiswa mpira. Alikimbia kwa kasi sana kuelekea golini. Aliupiga mpira kwa nguvu na akafunga goli.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	وَمُنْذُ ذَلِكَ اَلْيَوْمِ سَمَحَتْ اَلْجَمَاهِيرُ لِلفَتَيَاتِ بِلَعِبِ كُرَةِ القَدَمِ فِي اَلْمَدْرَسَةِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The crowd went wild with joy. Since that day, girls were also allowed to play soccer at the school.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Umati ukashangilia kwa vifijo na furaha. Kuanzia siku hiyo. Wasichana waliruhusiwa kucheza mpira wa miguu katika timu ya shule.
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
