---
title: "Mbili"
layout: "story"
id: "0271"
language: "sw"
langname: "Kiswahili"
level: "1"
text: "Carole Bloch"
illustration: "Richard MacIntosh"
translation: "Ursula Nafula"
reader: ""
license: "by-nc"
version: "3"
nc: "-NonCommercial"
colour: "yes"
source: "two"
asptitle: "Two"
entitle: "Two"
swtitle: "Deux"
order: "09"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Mikono miwili midogo ya kushika.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Two little
hands to hold.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mikono miwili midogo ya kushika.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Miguu miwili midogo kupiga teke.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Two little
feet to kick.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Miguu miwili midogo kupiga teke.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Macho mawili madogo kuona.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Two little eyes
to see.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Macho mawili madogo kuona.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Masikio mawili madogo kusikia.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Two little ears
to hear.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Masikio mawili madogo kusikia.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Na mikono miwili KUKUMBATIA kwa upendo.


	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	And two loving
arms to HUG!


	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Na mikono miwili KUKUMBATIA kwa upendo.


	</h3></div>
	{% include audiocontrols_colophon.html index="10" prev="09" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
