---
title: "Hisia"
layout: "story"
id: "0030"
language: "sw"
langname: "Kiswahili"
level: "1"
text: "Clare Verbeek, Thembani Dladla, Zanele Buthelezi"
illustration: "Kathy Arbuckle"
translation: "Matteo E. Mwita"
reader: ""
license: "by-nc"
version: "3"
nc: "-NonCommercial"
colour: ""
source: "feelings"
asptitle: "Feelings"
entitle: "Feelings"
swtitle: "Les sentiments"
order: "03"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Moyo wangu unahisi vitu vingi
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	My heart feels a lot of
things.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Moyo wangu unahisi vitu vingi
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Najisikia furaha bibi yangu akitusimulia hadithi jioni
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I feel happy when my
granny tells us stories
in the evening.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Najisikia furaha bibi yangu akitusimulia hadithi jioni
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Najihisi mpuuzi ninapo cheza na rafiki yangu
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I feel silly when I play
with my friend.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Najihisi mpuuzi ninapo cheza na rafiki yangu
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Najisikia vibaya baba yangu anaposema hana pesa
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I feel bad when my dad
says he does not have
money.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Najisikia vibaya baba yangu anaposema hana pesa
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Najihisi kupendwa mama yangu anapo nikumbatia
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I feel loved when my
mom gives me a hug.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Najihisi kupendwa mama yangu anapo nikumbatia
	</h3></div>
	{% include audiocontrols_colophon.html index="06" prev="05" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
