---
title: "Punishment"
layout: "story"
id: "0342"
language: "en"
langname: "English"
level: "2"
text: "Adelheid Marie Bwire"
illustration: "Melany Pietersen"
translation: ""
reader: "Darshan Soni"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "punishment"
asptitle: "Punishment"
entitle: "Punishment"
swtitle: "Punition"
order: "21"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	One day, mama got a
lot of fruit.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day, mama got a
lot of fruit.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja mamangu
alinunua matunda
mengi sana.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	"When can we have
some fruit?" we ask.
"We will eat the fruit
tonight," says mama.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	"When can we have
some fruit?" we ask.
"We will eat the fruit
tonight," says mama.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mimi na ndugu zangu
tulijiuliza lini mama
angetugawia ili tule.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	My brother Rahim is
greedy. He tastes all the
fruit. He eats a lot of it.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	My brother Rahim is
greedy. He tastes all the
fruit. He eats a lot of it.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baadaye, kakangu,
Rahim, alijificha.
Aliyala matunda yale
yote peke yake!
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	"Look at what Rahim
did!" shouts my little
brother. "Rahim is
naughty and selfish," I
say.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	"Look at what Rahim
did!" shouts my little
brother. "Rahim is
naughty and selfish," I
say.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mimi na ndugu yangu
tulipogundua, tulilia
tukisema, “Rahim ni
mtukutu tena ni
mchoyo.”
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Mother is angry with
Rahim.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Mother is angry with
Rahim.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mama alikasirika sana
alipogundua kwamba
matunda yote yalikuwa
yameliwa.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	We are also angry with
Rahim. But Rahim is not
sorry.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	We are also angry with
Rahim. But Rahim is not
sorry.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mimi na ndugu yangu
tulimwangalia Rahim
kwa macho makali.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	"Aren't you going to
punish Rahim?" asks
little brother.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	"Aren't you going to
punish Rahim?" asks
little brother.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tulmwuliza mama ikiwa
angemwadhibu Rahim.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	"Rahim, soon you will
be sorry," warns mama.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	"Rahim, soon you will
be sorry," warns mama.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Lakini, Rahim alipata
adhabu ambayo
hatukutarajia.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Rahim starts to feel
sick.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Rahim starts to feel
sick.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Rahim hakuweza kutulia
pahali pamoja!
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	"My tummy is so sore,"
whispers Rahim.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	"My tummy is so sore,"
whispers Rahim.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mama alipomwuuliza
alijibu kwa sauti ya
chini, “Naumwa na
tumbo.”
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	Mama knew this would
happen. The fruit is
punishing Rahim!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Mama knew this would
happen. The fruit is
punishing Rahim!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sote tuliona kwamba
hiyo ilikuwa adhabu
mbaya kuliko kama
Rahim angechapwa na
mama.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	Later, Rahim says sorry
to us. "I will never be so
greedy again," he
promises. And we all
believe him.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Later, Rahim says sorry
to us. "I will never be so
greedy again," he
promises. And we all
believe him.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baadaye alipopata
nafuu, Rahim alituomba
msamaha.
	</h3></div>
	{% include audiocontrols_colophon.html index="13" prev="12" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
