<div id="colophon" class="columns">
	<div class="column col-7 col-lg-12 col-md-12 col-sm-12">
		<h5>Written by: {{page.text}}</h5>
		<h5>Illustrated by: {{page.illustration}}</h5>{% if page.translation != "" %}
		<h5>Translated by: {{page.translation}}</h5>{% endif %}{% if page.reader != "" %}
		<h5>Read by: {{page.reader}}</h5>{% endif %}
		<h5>Language: <a href="/storybooks-kenya/stories/{{page.language}}">{{page.langname}}</a></h5>
		<h5><a href="/storybooks-kenya/stories/{{page.language}}/level{{page.level}}">Level {{page.level}}</a></h5>
		<h5>Source: <a href="http://africanstorybook.org/stories/{{page.source}}" target="_blank">{{page.asptitle}}</a> from <a href="http://africanstorybook.org/">African Storybook</a></h5>

		<left><a rel="license" href="http://creativecommons.org/licenses/{{page.license}}/{{page.version}}.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/{{page.license}}/{{page.version}}.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/{{page.license}}/{{page.version}}.0/">Creative Commons Attribution{{page.nc}} {{page.version}}.0 International License</a>.</left>

	</div>
	<div class="column col-5 col-lg-12 col-md-12 col-sm-12">
		<h5>Read more <a href="/storybooks-kenya/stories/{{page.language}}/level{{page.level}}">level {{page.level}}</a> stories:</h5>{% for tale in site.pages %}{% if tale.level == {{page.level}} and tale.language == {{page.language}} and {{tale.id}} != {{page.id}} %}
			<label class="chip"><a href="/storybooks-kenya/stories/{{tale.language}}/{{tale.id}}/">{{tale.title}}</a></label>{% endif %}{% endfor %}
	</div>
</div>
<div>
<h5>Options</h5>
	<a class="btn btn-lg" href="/storybooks-kenya/stories/{{page.language}}" class="button">Back to stories list</a> <a class="btn btn-lg disabled" target="_blank" href="">Download PDF</a>
<br><br>
</div>
