---
title: "Decision"
layout: "story"
id: "0027"
language: "en"
langname: "English"
level: "2"
text: "Ursula Nafula"
illustration: "Vusi Malindi"
translation: ""
reader: "Darshan Soni"
license: "by"
version: "4"
nc: ""
colour: "yes"
source: "decision"
asptitle: "Decision"
entitle: "Decision"
swtitle: "La décision"
order: "20"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	My village had many problems.

We made a long line to fetch water from one tap.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	My village had many problems.

We made a long line to fetch water from one tap.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kijiji changu kilikuwa na matatizo mengi.

Tulipanga foleni ndefu tukisubiri kuchota maji kutoka mfereji mmoja.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	We waited for food donated by others.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	We waited for food donated by others.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tulisubiri chini ya mti mkubwa kupokea msaada wa chakula.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	We locked our houses early because of thieves.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	We locked our houses early because of thieves.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tulifunga nyumba zetu mapema kwa ajili ya wizi.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Many children dropped out of school.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Many children dropped out of school.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baadhi ya watoto waliacha shule kwa sababu wazazi wao hawakuweza kulipa karo.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Young girls worked as maids in other villages.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Young girls worked as maids in other villages.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wasichana wadogo walifanya kazi kijijini kama yaya.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Young boys roamed around the village while others worked on people's farms.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Young boys roamed around the village while others worked on people's farms.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wavulana wadogo waliranda randa kijijini huku wengine wakifanyia watu kazi mashambani.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	When the wind blew, waste paper hung on trees and fences.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When the wind blew, waste paper hung on trees and fences.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Upepo ulipovuma, ulipeperusha karatasi chafu na kuziangika mitini na uani.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	People were cut by broken glass that was thrown carelessly.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	People were cut by broken glass that was thrown carelessly.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Njiani, watu walikatwa na vipande vya chupa vilivyotupwa ovyo ovyo.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Then one day, the tap dried up and our containers were empty.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then one day, the tap dried up and our containers were empty.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Halafu siku moja, mfereji wa maji ulikauka na mitungi yetu ikawa tupu.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	My father walked from house to house asking people to attend a village meeting.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	My father walked from house to house asking people to attend a village meeting.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Babangu alitembea kutoka nyumba hadi nyumba akiwaalika watu kuhudhuria mkutano wa kujiji.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	People gathered under a big tree and listened.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	People gathered under a big tree and listened.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Watu walikusanyika chini ya mti ule ule ambako tulipokea chakula cha msaada.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	My father stood up and said, “We need to work together to solve our problems.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	My father stood up and said, “We need to work together to solve our problems.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Babangu alisimama katikati ya kikundi na kusema, “Lazima turekebishe kijiji chetu.”
	</h3></div>
	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	Eight-year-old Juma, sitting on a tree trunk shouted, “I can help with cleaning up.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Eight-year-old Juma, sitting on a tree trunk shouted, “I can help with cleaning up.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Juma, aliyekuwa amepanda mti, alisema kwa sauti, “Naweza kusafisha uwanja wa nyumba yetu.”
	</h3></div>
	{% include audiocontrols.html index="14" prev="13" next="15" %}
</div>
<hr>

<div id="text15" class="columns">
	{% include picturecol.html index="15" %}	{% include textcol_start.html %}	One woman said, “The women can join me to grow food.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One woman said, “The women can join me to grow food.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mwanamke mmoja wa makamo, alisema, “Sisi wanawake tunaweza kuungana na kupanda chakula.”
	</h3></div>
	{% include audiocontrols.html index="15" prev="14" next="16" %}
</div>
<hr>

<div id="text16" class="columns">
	{% include picturecol.html index="16" %}	{% include textcol_start.html %}	Another man stood up and said, “The men will dig a well.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Another man stood up and said, “The men will dig a well.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mwanamme mwingine alisimama na kusema, “Wanaume watachimba kisima cha maji.”
	</h3></div>
	{% include audiocontrols.html index="16" prev="15" next="17" %}
</div>
<hr>

<div id="text17" class="columns">
	{% include picturecol.html index="17" %}	{% include textcol_start.html %}	We all shouted with one voice, “We must change our lives.”

From that day we worked together to solve our problems.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	We all shouted with one voice, “We must change our lives.”

From that day we worked together to solve our problems.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sote tulisema kwa sauti moja, “Lazima tubadilishe maisha yetu.”

Tangu siku hiyo, tulifanya kazi pamoja tukatatua shida zetu.
	</h3></div>
	{% include audiocontrols_colophon.html index="17" prev="16" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
