---
title: "Counting animals"
layout: "story"
id: "0327"
language: "en"
langname: "English"
level: "1"
text: "Zanele Buthelezi, Thembani Dladla, Clare Verbeek"
illustration: "Rob Owen"
translation: ""
reader: "Darshan Soni"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "counting-animals"
asptitle: "Counting animals"
entitle: "Counting animals"
swtitle: "Compter les animaux"
order: "02"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	One elephant is going
to drink water.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One elephant is going
to drink water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tembo mmoja nakwenda kunywa maji.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Two giraffes are going
to drink water.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Two giraffes are going
to drink water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Twiga wawili wanaenda kunywa maji.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Three buffaloes and
four birds are also going
to drink water.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Three buffaloes and
four birds are also going
to drink water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Nyati watatu na ndege wanne nao wanaenda kunywa maji.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Five impalas and six
wild pigs are walking to
the water.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Five impalas and six
wild pigs are walking to
the water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Swala watano na ngiri sita wanatembea kuelekea kwenye maji.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Seven zebras are
running
to the water.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Seven zebras are
running
to the water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Punda milia saba wanakimbia kuelekea kwenye maji.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Eight frogs and nine fish
are swimming in the
water.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Eight frogs and nine fish
are swimming in the
water.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Vyura wanane na samaki tisa wanaogelea kwenye maji.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	One lion roars.
He also wants to drink.
Who is afraid of the
lion?
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One lion roars.
He also wants to drink.
Who is afraid of the
lion?
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Simba mmoja ananguruma. Naye anataka kunywa maji. Nani anamwogopa simba?
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	One elephant is
drinking water with the
lion.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One elephant is
drinking water with the
lion.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tembo mmoja anakunywa maji na simba.
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
