---
title: "Simbagwayir"
layout: "story"
id: "0052"
language: "om"
langname: "Oromo"
level: "5"
text: "Rukia Nantale"
illustration: "Benjamin Mitchley"
translation: "Demoze Degefa "
reader: ""
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "simbegwire"
asptitle: "Simbegwire"
entitle: "Simbegwire"
swtitle: "Simbegwire"
order: "39"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Yeroo harmeen Simbagwayir dutu bayee gadiite turte. Abbaan Simbagawayir akka intalli isaa jajjabatu bayee dhamee. Suuta suutaan harmee Simbagwayir malee jiruu gammachuu jiraachuu calaqaban. Ganama ganama wa'ee taa'a nii wa'ee olmaa isanii haasa'u. Galgal immo irbaata wajjiin qophessu. Irabaata bodaa abban Simbagwayir muccan isaa ni qo'achiisa.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When Simbegwire's mother died,
she was very sad. Simbegwire's
father did his best to take care of
his daughter. Slowly, they learned
to feel happy again, without
Simbegwire's mother.
Every morning they sat and talked
about the day ahead. Every evening
they made dinner together. After
they washed the dishes,
Simbegwire's father helped her with
homework.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Simbegwire alihuzunika mama yake alipofariki. Baba yake alijitahidi kumtunza. Taratibu wakaanza kuwa wenye furaha tena, bila ya Mama Simbegwire. Kila asubuhi walikaa na kupanga mipango ya siku inayofuata. Kila jioni waliandaa chakula cha jioni pamoja. Baada ya kuosha vyombo baba yake Simbegwire alimsaidia kufanya kazi zake za shule.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Gaftokko abban Simbagwayir garaa mana ture galee. Italoo koo essaa jirta jedhee gafate? Simbagwayir gara abbaa eshe figiddee. Yeroo abbaan isshee harka dubartii qabatee dhabatu in ilaaltee. "Muccaa koo nama addaa han ta'ee tokko wajjiin akka walqunantuun barbaada. Ishee kun Anitaa jedhamit jehde," seeqataa.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day, Simbegwire's father came
home later than usual. “Where are
you my child?” he called.
Simbegwire ran to her father. She
stopped still when she saw that he
was holding a woman's hand. "I
want you to meet someone special,
my child. This is Anita," he said
smiling.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja baba yake Simbegwire alichelewa kurudi nyumbani isivyo kawada. "Mwanangu uko wapi?" aliita. Simbegwire alimkimbilia baba yake. Alisimama ghafla baada ya kumwona baba yake akiwa ameushika mkono wa mwanamke. "Nataka ukutane na mtu mhimu, mwanangu. Huyu ni Anita" alisema huku akitabasamu.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Akkam Simbagwayir, Abban kee wa'ee kee bayee nathimaa ture. Simbagwayir garuu hinseqqannnes; harka ishees hinfunee. Abbaan Simbagwayir gammadde, dhinqiii itti ta'e. Sadeen isaani akka jiruu gammachuu wajjiin jiraacha akka turan hasa'ee. "Mucaa koo Aniitaa akka harmee ketiti akka fudhattu abdiin qaba."
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“Hello Simbegwire, your father told
me a lot about you,” said Anita. But
she did not smile or take the girl's
hand.
Simbegwire's father was happy and
excited. He talked about the three
of them living together, and how
good their life would be. "My child, I
hope you will accept Anita as your
mother," he said.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Hallo Simbegwire, baba yako amenisimulia mengi kuhusu wewe," alisema Anita. Lakini hakutabasamu wala kumpa Simbegwire mkono. Baba yake Simbegwire alisisimkwa kwa furaha. Aliongelea jinsi maisha yatakavyokuwa mazuri watatu hao wakiishi pamoja. "Mwanangu, nimatumaini yangu kuwa utamkubali Anita kuwa mama yako," alisema.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Jiruun Simbagwayir ni jijjirramee. Yeroo abba ishee wajjiin haasoftu hinqabdu. Aniitaan hojii bayee wan isheef lateef, Simbagwayir yeroo barnoota ishef qophoftu dhabade. Yeroo dhuman galtee rafti. Maddi gammachuu ishee kan ta'ee wayya halkanii harmee ishee laatefi dha. Abban ishee garuu, mucaan sa akka gadda jiraatu hinbarre.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Simbegwire's life changed. She no
longer had time to sit with her
father in the mornings. Anita gave
her so many household chores that
she was too tired to do her school
work in the evenings. She went
straight to bed after dinner.
Her only comfort was the colourful
blanket her mother gave her.
Simbegwire's father did not seem to
notice that his daughter was
unhappy.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Maisha ya Simbegwire yakabadilika hakuwa na muda tena wa kukaa na baba yake asubuhi. Anita alimpa shughuli nyingi sana za ndani alikuwa anachoka hadi anashindwa kufanya kazi zake za shuleni jioni. Alikuwa anaenda moja kwa moja kulala baada ya chakula cha usiku. Faraja pekee aliyokuwa nayo ni blanketi la rangi alilopewa na mama yake. Baba yake Simbegwire hakugundua kama binti yake alikuwa hana furuha.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Ji'oota murasaa booda Abban Simbagwayir gara imaala akkan jedhee deme, "Dhimma hijiitif yeroo gababduf bakka bira demuun qaba." "Hata'u maale akka isin walgargartan nan amana." Simbagwayir fulaa ishee gurtee garu kana abban ishee hinbarre. Aniitaan wan tokkole hindubbane. Aniitaanis dhimma kanairrati gamchuu hinqabadu turte.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	After a few months, Simbegwire's
father told them that he would be
away from home for a while. "I have
to travel for my job," he said. "But I
know you will look after each other."
Simbegwire's face fell, but her
father did not notice. Anita did not
say anything. She was not happy
either.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baada ya miezi michache, baba yake Simbegwire aliwaambia kwamba ange safiri. "Itanibidi nisafiri kikazi," alisema. "Lakini najuwa hakutakuwa na tatizo." Uso wa Simbegwire ukajawa na simanzi, lakini baba yake hakugundua. Anita hakusema lolote. Hakuwa na furaha pia.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Jiruun Simbagwayir bayee gadhee ta'aa damee. Hojii mana kessa hinfuxxu taanan, Aniitaan itti dhekamiti. Iribaata gubba irrate, Aniitaan bayee nyaate, isheedhat immo xinno dhiftee. Halkan hundaa Simbagwayir uffataa halkanii harmee ishee hammate bossi.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Things got worse for Simbegwire. If
she didn't finish her chores, or she
complained, Anita hit her. And at
dinner, the woman ate most of the
food, leaving Simbegwire with only
a few scraps.
Each night Simbegwire cried herself
to sleep, hugging her mother's
blanket.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mambo yakawa mabaya kwa Simbegwire. Aliposhindwa kumaliza kazi au alipo lalamika, Anita alimpiga. Wakati wa chakula cha usiku Anita alikula chakula kingi, akimwachia Simbegwire makombo. Kila usiku Simbegwire alikuwa analia, huku akilikumbatia blanketi la mama yake.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Ganama tokko Simbagwayir hirribarra dafte hinka'iin turte. Aniitaanis, "Mucaayo dhiibooftuu" jettee itti iyyite. Aniitaanis Simbagwayir siree irra harkiftee kaste. Wayyan halkanii bayee midhaagan sun nibixamee bakka lamati citee.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One morning, Simbegwire was late
getting out of bed. “You lazy girl!”
Anita shouted. She pulled
Simbegwire out of bed. The
precious blanket caught on a nail,
and tore in two.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Asubuhi moja, Simbegwire alichelewa kuamka. "Wewe mtoto mvivu" Anita aliita kwa kelele. Akamvuta Simbegwire kutoka kitandani. Blanketi lake zuri likanasa kwenye msumari na kutatuka vipande viwili.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Simbagwayirn bayee aarte. Mana sana gadidhiiftee demuuf murteesite. Ufata halkani harmee isheetif nyaataa qabattee mana batee. Kara abban ishe demee dukka dhaqxee.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Simbegwire was very upset. She
decided to run away from home.
She took the pieces of her mother's
blanket, packed some food, and left
the house. She followed the road
her father had taken.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Simbagwire alikasirika sana. Akaamua kutoroka nyumbani. Akachukua vipande vya blanketi la mama yake. Akachukua na chakula akaondoka nyumbani. Akaifuata barabara aliyopita baba yake.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Yeroo ittihalkana'u mukka dheeraa gubba korte damee isaatrati siree tolfate. Yeroo gara chiisichaa deemtu akaan jete wadeste;" ayyo, ayyo, ayyo na dhiftee dametee. Na dhiftee demetee, achuuman hafte. Abban koo nanajallatu kana booda. Harmee, yoom dhufta? Na dhifitee demetee? 
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When it came to evening, she
climbed a tall tree near a stream
and made a bed for herself in the
branches.
As she went to sleep, she sang:
“Maama, maama, maama, you left
me.
You left me and never came back.
Father doesn't love me anymore.
Mother, when are you coming back?
You left me.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ilipofika jioni alipanda mtu mrefu karibu na kijito na akaanda kitanda kwenye matawi ya mti. Alipokuwa analala akaimba "Maama, maama, maama, umeniacha. Umeniacha na haukurudi tena. Baba hanipendi tena. Mama unarudi lini? Uliniacha."
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	Gyyyaa itti aanu Simbagwayirn sirbaa sana irra debitee sirbtee. Dubartoonni laga sana bishaan waraaban sagalee ishee dhagahan. Sagaleen sunis sagalee mukaa itti fakkate chal jedhan. Ha ta'u malee dubartiin tokko sirrite dhaggeffatee turte.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The next morning, Simbegwire sang
the song again. When the women
came to wash their clothes at the
stream, they heard the sad song
coming from the tall tree.
They thought it was only the wind
rustling the leaves, and carried on
with their work. But one of the
women listened very carefully to
the song.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Asubuhi iliyofuata, Simbegwire aliimba ule wimbo tena. Wakina mama walipokuja kufua nguo zao walisikia wimbo wa huzuni kutoka kwenye mti mrefu. Wakafikiri ni upepo unatikisa matawi ya mti na wakaendelea na kazi zao. Lakini mama moja akasikiliza kwa makini ule wimbo.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	Dubartitin ol jete mukka ilaalte. Yeroo muccayofi uffata halkanii bareeda agartu akan jete, "Simbagwayi, muccaa obbolessa kooti". Dubartiin biraa immo uffata miccuu dhifitee Simbagwayi akka mukka irraa buutuu gargarte. Addaadan ishee muka irra bufitee, jajabesite.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	This woman looked up into the tree.
When she saw the girl and the
pieces of colourful blanket, she
cried, “Simbegwire, my brother's
child!”
The other women stopped washing
and helped Simbegwire to climb
down from the tree. Her aunt
hugged the little girl and tried to
comfort her.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mama huyo akaangalia jua ya mti. Alipo mwona msichana na vipande vya blanketi ya rangi, akalia, "Simbegwire, mtoto wa kaka yangu!" wakina mama wengine wakaacha kufua wakamsadia Simbegwire kushuka toka juu ya mti. Shangazi yake akamkumbatia na kumfariji.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	Addaadan Simbagwayi mana isheeti fudhatee. Simbagwayifis nyaata o'aa keennitefi ciree gubba ishee rafiste. Halkan san Simbagwayi boyichaan gara chisichaa dhaqxee. Ha ta'u male boyyicha kessi gammachudah. Addaada ishee akkan ishee kunistu nibekiti turte.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Simbegwire's aunt took the child to
her own house. She gave
Simbegwire warm food, and tucked
her in bed with her mother's
blanket.
That night, Simbegwire cried as she
went to sleep. But they were tears
of relief. She knew her aunt would
look after her.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Shangazi yake Simbegwire akampeleka nyumbani kwake. Akampatia chakula na akampeleka kitandani akamfunika na blanketi la mama yake. Usiku ule simbegwire akalia alivyokwenda kulala. Lakini yalikuwa machozi ya furaha. Alijua shangazi yake angemtunza.
	</h3></div>
	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	Abban Simbagwayi yeroo imala deebi'u, siree isheera dhabee, akan jedhe, "Maltuu dhalate?" jedhe rifachuudahn gaafate. Durbatitiinis Simbagwayi akka deemte itti himte. "Akka nakabajduu itti himeen ture. Anis immo bayeen seera itti jabesse." Abban Simbagwayi gara lagaa demee. Gara mana obboletii isaa demee Simbagwayi barbacha dhama'ee.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When Simbegwire's father returned
home, he found her room empty.
"What happened, Anita?" he asked
with a heavy heart. The woman
explained that Simbegwire had run
away. "I wanted her to respect me,"
she said. "But perhaps I was too
strict."
Simbegwire's father left the house
and went in the direction of the
stream. He continued to his sister's
village to find out if she had seen
Simbegwire.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Babab yake Simbegwire aliporudi nyumbani, alikikuta chumba chake kikiwa tupu. "Nini kimetokea, Anita?" aliuliza kwa simanzi. Anita akaelezea kuwa Simbegwire alitoroka. "Nilitaka aniheshimu," alisema. "Labda nilikuwa mkali sana." Baba yake Simbwegwire aliondoka nyumbani akaelekea kwenye kijito. Akaenda kwenye kijiji cha dada yake kuulizia kama amemwona Simbagwire.
	</h3></div>
	{% include audiocontrols.html index="14" prev="13" next="15" %}
</div>
<hr>

<div id="text15" class="columns">
	{% include picturecol.html index="15" %}	{% include textcol_start.html %}	Abban Simbagwayi yeroo dhufu isheen durbii ishee wajjiin taphacha turte. Abban ishee it dhihaatee akan, Simbagwayi, Harmee dansaa argatee. Ishee sijaaatu fi si hubbattu. "Bayeen siti bonaa. Bayeen sijaaladha." Simbagwayi akka addaada ishee bira hamma bardaddu akka techu waligalan.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Simbegwire was playing with her
cousins when she saw her father
from far away. She was scared he
might be angry, so she ran inside
the house to hide.
But her father went to her and said,
“Simbegwire, you have found a
perfect mother for yourself. One
who loves you and understands
you. I am proud of you and I love
you.”
They agreed that Simbegwire would
stay with her aunt as long as she
wanted to.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Simbegwire alikuwa anacheza na binamu zake alipomwona baba yake akija kwa mbali. Aliogopa kuwa baba yake angekuwa amekasirika, akakimbia kuingia ndani ili ajifiche. Baba yake alimwendea akamwambia, "Simbegwire umempata mama mzuri. Anayekupenda na kukuelewa. Najivunia kuwa nawe na ninakupenda." Walikubaliana kuwa Simbegwire angeishi na shangazi yake kwa muda wote atakao taka.
	</h3></div>
	{% include audiocontrols.html index="15" prev="14" next="16" %}
</div>
<hr>

<div id="text16" class="columns">
	{% include picturecol.html index="16" %}	{% include textcol_start.html %}	Abban ishee guyyaa guyyaa dha isshee ilaala ture. Boddeeti Aniitaa wajjiin dhufan. Sana booda harka Simbagwayi ti galtee dhifama ishee gafaatee. Bayeen dogongoree dhifamaa nagodhi mucaa ko. Caarraa biraa nakenitaa? Simbagwayi oljette fulaa abbaa ishee isa gadde ilaalte. Achumaan gara Aniitaa ademitee ishee hammate.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Her father visited her every day.
Eventually, he came with Anita. She
reached out for Simbegwire's hand.
"I'm so sorry little one, I was
wrong," she cried. "Will you let me
try again?"
Simbegwire looked at her father
and his worried face. Then she
stepped forward slowly and put her
arms around Anita.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baba yake alikuwa akimtembelea kila siku. Mwishoe akaja na Anita. Akampa mkono Simbegwire. "Nisamehe, nilikosea" akali. "Utanipa nafasi tena?" Simbegwire alimwangalia baba yake aliyekuwa na uso wa wasiwasi. Baadaye akamwendea Anita taratibu akamkumbatia.
	</h3></div>
	{% include audiocontrols.html index="16" prev="15" next="17" %}
</div>
<hr>

<div id="text17" class="columns">
	{% include picturecol.html index="17" %}	{% include textcol_start.html %}	Torbaan itti anuu Aniitaan Simbagwayi, durbi fi addaada ishee laaqan afferte. Qophii gaari ture! Aniitaan nyataa Simbagwayi jallatu qophesite. Namni hundiinu hamma quuftu nyaate. Sana boodas ijollen yeroo taphatu warri gurdudon immo hasa'a turan. Simbagwayi bayee gammadee. Hatatamaan gara mana abba isheeti debitee akka jaalalan harmee budeena wajjiin jiratu yerooma san murtesite.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The next week, Anita invited
Simbegwire, with her cousins and
aunt, to the house for a meal. What
a feast! Anita prepared all of
Simbegwire's favourite foods, and
everyone ate until they were full.
Then the children played while the
adults talked.
Simbegwire felt happy and brave.
She decided that soon, very soon,
she would return home to live with
her father and her stepmother.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wiki iliyofuata, Anita aliwaalika Simbegwire, binamu, na shangazi yake kwa ajili ya chakula. Anita akaanda vyakula vyote ambazo Simbegwire anavipenda, kila moja akala hadi akashiba. Baada ya kula watoto wakaenda kucheza huku watu wazima wakiongea. Simbegwire akajisikia furaha na jasiri. Akaamua kuwa si muda mrefu atarejea nyumbani kuishi na baba yake na mama yake wa kambo.
	</h3></div>
	{% include audiocontrols_colophon.html index="17" prev="16" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
