---
title: "Enkíné, Oldía ó Enkíténg"
layout: "story"
id: "0004"
language: "mas"
langname: "Maa"
level: "2"
text: "Fabian Wakholi"
illustration: "Marleen Visser"
translation: "Leonard Kotikash"
reader: ""
license: "by"
version: "3"
nc: ""
colour: ""
source: "goat-dog-and-cow"
asptitle: "Goat, Dog and Cow"
entitle: "Goat, Dog and Cow"
swtitle: "Chèvre, Chien et Vache"
order: "26"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Ilchoréta apá enkíne,
oldía ó enkíténg.
Óre enkolóng nabô
népuo páran te engárrî.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Goat, Dog and Cow
were great friends. One
day they went on a
journey in a taxi.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbuzi, Mbwa na
Ng’ombe walikuwa
marafiki wakubwa.
Siku moja walienda
safari kwa teksi.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Óre peê ebayá, néjokí
oláréwání lé engárri peê
élâk iropiyianí enyê.
Nélak enkíteng
inenyéna.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When they reached the
end of their journey, the
driver asked them to
pay their fares. Cow
paid her fare.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Walipofika mwisho wa
safari yao, dereva
aliwauliza walipe nauli
zao.
Ng’ombe alilipa nauli
yake.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Nélak oldía aitulusoó,
amû meáta esíáná oó
iropiyianí naáíririkíno.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Dog paid a bit extra,
because he did not
have the correct money.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbwo alilipa zaidi
kidogo kwa sababu
hakuwa na kiasi kamili
cha pesa.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Néjo oláréwání áshúkóki
oldía iropiyianí enyéna
naátelekutúa, nédol
enkíné peê eisík aló éítû
élâk.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The driver was about to
give Dog his change
when Goat ran away
without paying
anything.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Dereva alikuwa karibu
kumrejeshea Mbwa
pesa zake zilizosalia
wakati Mbuzi
alipotoroka bila kulipa
chochote.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Négoro naléng
oláréwání.
Néreu engárri aló éítû
eshukokí oldía iropiyianí
enyéna naáshukokíno.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The driver was very
annoyed. He drove
away without giving
Dog his change.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Dereva alikasirika sana.
Aliondoka huku
akiendesha gari bila
kumrudishia Mbwa pesa
zake zilizobaki.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Náa ínâ peê óre o táatá
kémir oldía engárri
aing'orú olaréwani leitú
éíshô iropiyianí enyéna
naáshukúnye.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	That is why, even
today, Dog runs
towards a car to peep
inside and find the
driver who owes him his
change.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hiyo ndiyo sababu, hata
leo Mbwa hukimbia
kuelekea gari akiwa na
nia ya kuangalia ndani
ili kumpata dereva aliye
na pesa zake zilizosalia.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Néísik enkíne tenéning
engárri nalotú.
Kéuré ajó kéíbung'í amû
eitú élâk iropiyianí
enyéna.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Goat runs away from
the sound of a car. She
is afraid she will be
arrested for not paying
her fare.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mbuzi naye hutoroka
anaposikia mlio wa gari.
Anaogopa kushikwa
kwa kukosa kulipa nauli
yake.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Néméírut nínye
enkíteng tenéning
engárri nalotú.
Kédeenyári tenélang
enkóítói.
Kéyíólo ajó étáláá
iropiyianí enyéna te
lulúng'ata.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	And Cow is not
bothered when a car is
coming. Cow takes her
time crossing the road
because she knows she
paid her fare in full.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Na Ng’ombe
hashughuliki gari linapo
kuja.
Ng’ombe huchukuwa
muda wake kupita
barabara kutoka
upande mmoja hadi
mwingine.
Anajua kuwa alilipa
nauli yake kamili!
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
