---
title: "أنانسي و الحكمة"
layout: "story"
id: "0006"
language: "ar"
langname: "Arabic"
level: "3"
text: "Ghanaian folktale"
illustration: "Wiehan de Jager"
translation: "Abrar Wafa"
reader: "Mashael Muhanna"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "anansi-and-wisdom"
asptitle: "Anansi and Wisdom"
entitle: "Anansi and Wisdom"
swtitle: "Anansi et la sagesse"
order: "28"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	في قديم الزمان، كان الناس لا يعرفون شيئا. كانوا لا يعرفون طريقة زراعة المحاصيل، أو نسج الأقمشة، أو صناعة الأدوات الحديدية. كان هناك الإله نيام في السماء وكان يملك كل الحكمة الموجودة في العالم. وكان محتفظا بها في وعاء من الفخار.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Long long ago people didn't
know anything. They didn't
know how to plant crops, or
how to weave cloth, or how to
make iron tools.
The god Nyame up in the sky
had all the wisdom of the world.
He kept it safe in a clay pot.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hapo zamani za kale, watu
hawakujua chochote.
Hawakujua kupanda mimea,
hawakujua kushona nguo, wala
hawakujua kuuunda vyombo
vya chuma.
Lakini mungu aliyeitwa Nyame
akiwa mbinguni, alimiliki
hekima ambayo watu walihitaji.
Nyame alihifadhi hekima hiyo
kwenye chungu
kilichotengenezwa kwa udongo
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	في يوم من الأيام، قرر نيام أن يعطي وعاء الحكمة إلى أنانسي. في كل مرة كان أنانسي ينظر في وعاء الفخار، كان يتعلم شيئا جديدا. كان أمرا مثيرا!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day, Nyame decided that
he would give the pot of
wisdom to Anansi.
Every time Anansi looked in the
clay pot, he learned something
new. It was so exciting!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja, Nyame akaamua
kumpa Anansi chungu hicho
kilichojaa ujuzi na hekima tele.
Basi Anansi akawa anakitazama
chungu kile. Na kila
alipokitazama alipata kujua
jambo jipya.
Alifuarahi sana.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	فكر الجشع أنانسي: "أنا سوف أحتفظ بالوعاء في مكان آمن في أعلى شجرة طويلة. بعد ذلك يمكن أن يكون كل شيء لنفسي!" ونسج خيط طويل، ولفه حول وعاء الطين، وربطه إلى بطنه. بدأ تسلق الشجرة. ولكن كان من الصعب تسلق الشجرة والوعاء يخبط في ركبتيه طوال الوقت.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Greedy Anansi thought, “I'll
keep the pot safe at the top of a
tall tree. Then I can have it all
to myself!”
He spun a long thread, wound it
round the clay pot, and tied it to
his stomach.
He began to climb the tree. But
it was hard climbing the tree
with the pot bumping him in the
knees all the time.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Na kwa sababu ya ulafi wake, Anansi alisema
moyoni, “Nitakificha chungu hiki juu ya mti
mrefu ili mtu mwingine yeyote asikifikie.
Ningetaka chungu hiki kinifae peke yangu.”
Kwa kutumia miyaa, Anansi alitengeneza
kamba akaifungia kwenye chungu. Kisha,
alifungia kamba hiyo kwenye kiuno chake.
Alianza kupanda mti ule huku kile chungu
kikining’inia mbele yake. Lakini haikuwa rahisi
kupanda huku chungu kikimgonga magotini
kila wakati.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	خلال كل هذا الوقت كان ابن أنانسي الصغير يشاهد من أسفل الشجرة. وقال: "ألن يكون من الأسهل تسلق الشجرة إذا كان الوعاء مربوطا إلى ظهرك بدلا من بطنك؟" حاول أنانسي ربط وعاء الفخار المليء بالحكمة إلى ظهره، وأصبح فعلا تسلق الشجرة أسهل.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	All the time Anansi's young son
had been standing at the
bottom of the tree watching. He
said, “Wouldn't it be easier to
climb if you tied the pot to your
back instead?”
Anansi tried tying the clay pot
full of wisdom to his back, and it
really was a lot easier.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakati huo wote, mwanawe Anansi alikuwa
amesimama chini ya ule mti huku akimtazama
babake.
Akamwambia, “ Baba, mbona usikifungie
chungu mgongoni ili uweze kuuparaga mti?”
Basi Anansi akaamua kukifungia chungu
kilichojaa hekima mgongoni mwake.
Ikawa rahisi zaidi kukibeba kile chungu
mgongoni mwake.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	خلال وقت قصير وصل إلى أعلى الشجرة. ولكن بعد ذلك توقف وفكر، "أنا من المفترض أن أكون صاحب كل الحكمة، وهنا كان ابني أذكى مني!" كان أنانسي غاضب جدا وألقى وعاء الفخار إلى أسفل الشجرة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	In no time he reached the top of
the tree.
But then he stopped and
thought, “I'm supposed to be
the one with all the wisdom,
and here my son was cleverer
than me!”
Anansi was so angry about this
that he threw the clay pot down
out of the tree.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baada ya muda mfupi, alifika
juu ya mti.
Akiwa juu ya mti aliwaza, “Mimi
ndiye ninabeba hekima lakini,
mwanangu anaonekana kuwa
mwerevu kuniliko."
Anansi alikasirika na kukitupa
kile chungu chini.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	تحطم الوعاء إلى قطع صغيرة على الأرض. وأصبحت الحكمة للجميع لكي يتشاركوها. وهكذا تعلم الناس الفلاحة، ونسج الأقمشة، وصناعة الأدوات الحديدية، وجميع الأشياء الأخرى التي يعرف الناس كيفية القيام بها.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	It smashed into pieces on the
ground. The wisdom was free
for everyone to share.

And that is how people learned
to farm, to weave cloth, to
make iron tools, and all the
other things that people know
how to do.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Chungu kilianguka na kuvunjika
vigaevigae.
Watu waliipata hekima wakajua
kulima, kushona nguo, na
kuunda vyombo vya chuma.
Hivyo ndivyo watu walivyojua
kufanya mambo yote
wanayofanya.
	</h3></div>
	{% include audiocontrols_colophon.html index="07" prev="06" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
