---
title: "Syana sya Mũvũa"
layout: "story"
id: "0337"
language: "kam"
langname: "Kikamba"
level: "2"
text: "Southern African Folktale"
illustration: "Wiehan de Jager"
translation: "Anna Kula"
reader: ""
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "children-wax"
asptitle: "Children of wax"
entitle: "Children of wax"
swtitle: "Les enfants de cire"
order: "17"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Ĩvinda ya tene na tene,
vaĩna musyĩ wekalaa na
ũtanu.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Once upon a time,
there lived a happy
family.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hapo zamani za kale,
paliishi familia yenye
furaha.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Mayaũkitanaa ene kwa
ene. Nimatetheesyaa
asyai moo musyĩ na
mĩundani.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They never fought with
each other. They helped
their parents at home
and in the fields.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hawakugombana hata
kidogo.
Watoto waliwasaidia
wazazi nyumbani na
shambani.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Ĩndĩ mayanengetwe
mwanya wakũthi vakuvĩ
na mwaki.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But they were not
allowed to go near a
fire.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Lakini, walikatazwa
kwenda karibu na moto.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Maĩlĩte kũthũkũma wĩa
woo w’onthe ũtukũ.

Nũndũ mĩĩ yoo yaseovetw’e na mũvũa!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They had to do all their
work during the night.

Because they were made of wax!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Walifanya kazi zao zote
usiku.

Hii ni kwa sababu walikuwa wameumbwa
kwa nta.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Ĩndĩ mwana ũmwe aĩ na
mea ma kũthi nza
kwĩanĩkĩa kyeni kya sua.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But one of the boys
longed to go out in the
sunlight.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Lakini, kijana mmoja
alitamani kwenda nje
wakati wa mchana.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Mũthenya ũmwe
nĩwethĩiw’e na mea asu
ma kũthi nza muno.
Ĩndĩ aamwanainya
nĩmamũkanisye...
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day the longing
was too strong. His
brothers warned him...
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja tamaa ya
kwenda nje ikazidi.
Wenzake wakamwonya
asiende juani.
Lakini, hakusikia.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Ũũi! Mwana ũsu
ndaatetheka.
Nĩwanyinyũkie nũndũ
wa ũvyuvu wa sua.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But it was too late!
He melted in the hot
sun.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Aliyeyuka kwa sababu
joto lilikuwa kali.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Syana sya mũvũa
nĩsyakwatiwe ni kyeva
nũndũ wa kwona
mwanaainya
ainyinyuka.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The wax children were
so sad to see their
brother melting away.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Watoto wa nta
walihuzunika walipoona
kaka yao akiyeyuka.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Ĩndĩ nĩmethĩiw’e na
mũvango. Nĩmosie
mũndo wa mũvũa ula
wanyinyukie maseovya
kasũni.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But they made a plan.
They shaped the lump
of melted wax into a
bird.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakapanga jambo
fulani.
Walichukua nta
iliyoyeyuka
wakatengeza ndege.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	Nĩmosie mwanaainya
kasũni mamũlĩsya ĩũlu
wa kĩĩma kĩtũlu.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They took their bird
brother up to a high
mountain.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakamweka ndege
huyo juu ya mlima
mrefu.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	Na sua ĩkuuma
nĩwolũkile athi kũu
akwina kyeninĩ kya
kĩoko.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	And as the sun rose, he
flew away singing into
the morning light.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Jua lilipochomoza
asubuhi, akapeperuka
akiimba kwa furaha.
	</h3></div>
	{% include audiocontrols_colophon.html index="12" prev="11" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
