---
title: "زَامَا المُمَيَّزةْ!"
layout: "story"
id: "0095"
language: "ar"
langname: "Arabic"
level: "2"
text: "Michael Oguttu"
illustration: "Vusi Malindi"
translation: "Heba Tesheh, Maaouia Haj Mabrouk"
reader: "Mashael Muhanna"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "zama-great"
asptitle: "Zama is great!"
entitle: "Zama is great!"
swtitle: "Zama est formidable !"
order: "25"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	يَنامُ أَخِي الصَّغِيرُ مُتَأَخِّرًا جِدًّا.
أَنَا اَسْتيْقِظُ بَاكِراً لِأَنَّنِي مُمَيَّزَةٌ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	My little brother sleeps
very late.
I wake early, because I
am great!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mdogo wangu anachelewa kulala. Naamka mapema kwasababu mimi ni mkubwa
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	أَنَا وَاحِدَةٌ مِنَ اَلَّذينَ يَسْمَحُونَ لِلشَّمْسِ أَن تَدْخُلَ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I am the one who lets in
the sun.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mimi ndiye ninaye ruhusu jua kuingia ndani.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	مَامَا تقُولُ لِي: "أَنْتِ نَجْمَتِي اَلصَّباحيّةُ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“You're my morning
star,” says Ma.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Wewe ni nyota yangu ya asubuhi," anasema mama.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	أَنَا اَسْتَحِمُّ وَحْدِي، أَنَا لَا أَحْتَاجُ لِمُسَاعَدَةِ أَحَدٍ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I wash myself, I don't
need any help.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Naoga mwenyewe, sihitaji msaada.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	أَنَا يُمْكِنُنِي أَنْ أَتَعَامَلَ مَعَ المَاءِ البَارِدِ وَالرَّائِحَةُ اَلكَرِيهَةُ لِلصَّابُونَةِ الزَّرْقَاءِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I can cope with cold
water and blue smelly
soap.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Naweza kuvumilia maji ya baridi na harufu nzuri ya sabuni ya bluu.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	مَامَا تُذَكِّرُنِي: "لَا تَنْسَيْ أَسْنَانَكِ"، فَأُجِيبُهَا: "أَنَا مُسْتَحِيلْ!"
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Ma reminds, "Don't
forget teeth."
I reply, "Never, not
me!"
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mama ananikumbusha, "Usihashau kupiga mswaki." Namjibu, "Kamwe, labda sio mim!"
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	بَعْدَ اَلاِسْتِحْمَامِ، أُسَلِّمُ عَلَى جَدِّي وَعَمَّتِي، وَأُوَدِّعُهُمْ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	After washing, I greet
Grandpa and Auntie,
and wish them a good
day.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baada ya kuoga , nawasalimia babu na shangazi, na kuwatakia siku njema.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	ثُمَّ أَلْبِسُ ثِيَابِي بِنَفْسِي، وَأَقُولُ: "أَنَا الآنَ كَبِيرَةٌ".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then I dress myself,
“I'm big now Ma,” I say.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Najivisha nguo mwenyewe, "Mimi ni mkubwa sasa mama," Nina mwambia.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	أَنَا اَسْتَطِيعُ أَنْ أُغْلِقَ أَزْرَارِي وَأَرْبِطَ حِذَائِي.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I can close my buttons
and buckle my shoes.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ninaweza kufunga vishikizo na kurekebisha viatu vyangu.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	أَنَا أَتَأَكَّدُ مِنْ أَنَّ أَخِي اَلصَّغِيرُ يَعْرفُ كُلَّ أَخْبَارِ اَلمَدْرَسَةِ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	And I make sure little
brother knows all the
school news.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Na ninahakikisha mdogo wangu anapata habari zote za shule.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	أَبْذُلُ جُهْدِي فِي الصَّفِّ لِأَقُومَ بِالأفْضَلِ بِكُلِّ شَيْءٍ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	In class I do my best in
every way.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Darasani najitahidi sana.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	أَنَا أَقُومُ بِكُلِّ هَذِهِ اَلأفْعَالِ كُلَّ يَوْمٍ.
لَكِنَّ أَكْثَرَ الأَشْيَاءِ التِي أُحِبُّهَا اللَّعِبُ.
ثُمَّ اللَّعِبُ.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	I do all these good
things every day.
But the thing I like
most, is to play and
play!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ninafanya hivi vitu vyote vizuri kila siku, ila kitu ninacho kipenda sana ni kucheza na kucheza.
	</h3></div>
	{% include audiocontrols_colophon.html index="13" prev="12" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
