---
title: "Hen and Eagle"
layout: "story"
id: "0158"
language: "en"
langname: "English"
level: "3"
text: "Ann Nduku"
illustration: "Wiehan de Jager"
translation: ""
reader: "Darshan Soni"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "hen-and-eagle"
asptitle: "Hen and Eagle"
entitle: "Hen and Eagle"
swtitle: "Poule et Aigle"
order: "30"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Once upon a time, Hen and
Eagle were friends. They lived
in peace with all the other birds.
None of them could fly.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Once upon a time, Hen and
Eagle were friends. They lived
in peace with all the other birds.
None of them could fly.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hapo zamani za kale, Kuku na Tai walikuwa marafiki.Waliishi kwa amani na ndege wengine. Hakuna kati yao aliyeweza kupaa.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	One day, there was famine in
the land. Eagle had to walk very
far to find food. She came back
very tired.
“There must be an easier way
to travel!” said Eagle.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day, there was famine in
the land. Eagle had to walk very
far to find food. She came back
very tired.
“There must be an easier way
to travel!” said Eagle.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuna siku njaa ilitokea. Ikamulazimu Tai kutembea umbali mrefu kutafuta chakula. Alirudi akiwa amechoka sana. "Lazima kuwe na njia rahisi ya kusafiri!" alisema Tai.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	After a good night's sleep, Hen
had a brilliant idea. She began
collecting the fallen feathers
from all their bird friends.
“Let's sew them together on top
of our own feathers,” she said.
“Perhaps that will make it easier
to travel.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	After a good night's sleep, Hen
had a brilliant idea. She began
collecting the fallen feathers
from all their bird friends.
“Let's sew them together on top
of our own feathers,” she said.
“Perhaps that will make it easier
to travel.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baada ya kupata usingizi mzuri wa usiku, Kuku alipata wazo zuri. Akaanza kukusanya manyoya yaliyokuwa yanadondoka kutoka kwenye ndege wengine rafiki zao. "Tuyashonee haya manyoya juu ya manyoya yetu," Kuku alisema. "Labda inaweza kutusaidia kusafiri."
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Eagle was the only one in the
village with a needle, so she
started sewing first.
She made herself a pair of
beautiful wings and flew high
above Hen.
Hen borrowed the needle but
she soon got tired of sewing.
She left the needle on the
cupboard and went into the
kitchen to prepare food for her
children.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Eagle was the only one in the
village with a needle, so she
started sewing first.
She made herself a pair of
beautiful wings and flew high
above Hen.
Hen borrowed the needle but
she soon got tired of sewing.
She left the needle on the
cupboard and went into the
kitchen to prepare food for her
children.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tai pekee ndiye aliekuwa na sindano kijijini, kwahiyo akaanza kushona wa kwanza. Akajitengenezea mabawa mawili mazuri na akapaa juu ya kuku. Kuku aliazima sindano ila akachoka kushona. Akaacha sindano kabatini akaenda jikoni kuandaa chakula kwa ajili ya watoto wake.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	But the other birds had seen
Eagle flying away. They asked
Hen to lend them the needle to
make wings for themselves too.
Soon there were birds flying all
over the sky.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But the other birds had seen
Eagle flying away. They asked
Hen to lend them the needle to
make wings for themselves too.
Soon there were birds flying all
over the sky.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Lakini ndege wengine walimwona Tai akipaa. Wakamwomba kuku awaazime sindano ili nao wajishonee mbawa. Muda si mrefu ndege wakawa  wamepaa na kuzagaa anga zima.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	When the last bird returned the
borrowed needle, Hen was not
there. So her children took the
needle and started playing with
it.
When they got tired of the
game, they left the needle in
the sand.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When the last bird returned the
borrowed needle, Hen was not
there. So her children took the
needle and started playing with
it.
When they got tired of the
game, they left the needle in
the sand.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ndege wa mwisho aliporudisha sindano aliyo azima, kuku hakuwepo. Watoto wa kuku wakachukua sindano na wakaanza kuichezea. Walipochoka wakaicha sindano kwenye mchanga.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Later that afternoon, Eagle
returned. She asked for the
needle to fix some feathers that
had loosened on her journey.
Hen looked on the cupboard.
She looked in the kitchen. She
looked in the yard. But the
needle was nowhere to be
found.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Later that afternoon, Eagle
returned. She asked for the
needle to fix some feathers that
had loosened on her journey.
Hen looked on the cupboard.
She looked in the kitchen. She
looked in the yard. But the
needle was nowhere to be
found.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baadaye jioni Tai akarudi. Akaomba sindano ili aweze kushona baadhi ya manyoya yalikuwa yameanza kulegea alipokuwa safarini. Akaangalia kwenye kabati. Akaangalia jikoni. Akaangalia uani. Ila sindano haikupatikana.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	“Just give me a day,” Hen
begged Eagle. “Then you can
fix your wing and fly away to
get food again.”
“Just one more day,” said Eagle.
“If you can't find the needle,
you'll have to give me one of
your chicks as payment.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“Just give me a day,” Hen
begged Eagle. “Then you can
fix your wing and fly away to
get food again.”
“Just one more day,” said Eagle.
“If you can't find the needle,
you'll have to give me one of
your chicks as payment.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Nipatie siku moja," Kuku alimwomba Tai. "Utaweza kushona mbawa zako na kuruka tena kwenda kutafuta chakula." "Siku moja tu," alisema Tai. "Kama hutaipata sindano, itabidi unipe kifaranga chako kama malipo."
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	When Eagle came the next day,
she found Hen scratching in the
sand, but no needle.
So Eagle flew down very fast
and caught one of the chicks.
She carried it away.
Forever after that, whenever
Eagle appears, she finds Hen
scratching in the sand for the
needle.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When Eagle came the next day,
she found Hen scratching in the
sand, but no needle.
So Eagle flew down very fast
and caught one of the chicks.
She carried it away.
Forever after that, whenever
Eagle appears, she finds Hen
scratching in the sand for the
needle.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tai aliporudi siku ya pili alimkuta kuku akichokora mchangani, ila hakukuwa na sindano. Tai alikuja chini kwa kasi na akakwapua kifaranga kimoja. Akaondoka nacho. Kwanzia muda huo, kila Tai anapojitokeza humkuta kuku akichokora kwenye mchanga anatafuta sindano.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	As the shadow of Eagle's wing
falls on the ground, Hen warns
her chicks. “Get out of the bare
and dry land.”
And they respond:
“We are not fools. We will run.”
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	As the shadow of Eagle's wing
falls on the ground, Hen warns
her chicks. “Get out of the bare
and dry land.”
And they respond:
“We are not fools. We will run.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Pale kivuli cha Tai kinapo onekana aridhini, kuku huwa taarifu vifaranga vyake. "Ondokeni katika eneo lilowazi." Na wanajibu: "Sisi sio wajinga, tutakimbia."
	</h3></div>
	{% include audiocontrols_colophon.html index="11" prev="10" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
