---
title: "الدجاجة والدودة"
layout: "story"
id: "0141"
language: "ar"
langname: "Arabic"
level: "3"
text: "Winny Asara"
illustration: "Winny Asara"
translation: "Abrar Wafa"
reader: "Mashael Muhanna"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "chicken-and-millipede"
asptitle: "Chicken and Millipede"
entitle: "Chicken and Millipede"
swtitle: "La poule et le millepatte"
order: "32"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	كانت الدجاجة والدودة أصدقاء، لكنهم كانوا يتنافسون دائماً مع بعضهما البعض. في يوم من الأيام، قرروا لعب كرة القدم لمعرفة من هو أفضل لاعب.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Chicken and Millipede were friends. But they were always competing with each other. One day they decided to play football to see who the best player was.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuku na Jongoo walikuwa marafiki. Ila walikuwa wanashindana kila mara. Siku moja wakaamua kucheza mpira wa miguu ili waweze kubaini nani alikuwa mchezaji bora zaidi.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	ذهبوا إلى ملعب كرة القدم وبدأوا لعبتهم. كانت الدجاجة سريعة، ولكن كانت الدودة أسرع. كانت الدجاجة تركل بعيداً، ولكن الدودة كانت تركل أبعد من ذلك. فبدأت الدجاجة تشعر بالغضب.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They went to the football field and started their game. Chicken was fast, but Millipede was faster. Chicken kicked far, but Millipede kicked further. Chicken started to feel grumpy.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakaenda uwanjani na wakaanza kucheza. Kuku alikuwa na kasi ila Jongoo alikuwa na kasi zaidi. Kuku alipiga mpira mbali, ila Jongoo alipiga mbali zaidi. Kuku akaanza kupandwa na hasira.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	بعد ذلك قرروا لعب ركلات الترجيح. في المرة الأولى كانت الدودة هي حارس المرمى. فسجلت الدجاجة هدفاً واحداً فقط. ثم جاء دور الدجاجة لتكون هي حارس المرمى.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They decided to play a penalty shoot-out. First Millipede was goal keeper. Chicken scored only one goal. Then it was the chicken’s turn to defend the goal.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakaamua kupigiana penati. Jongoo akaenda golini. Kuku alifunga goli moja pekee. Ikawa zamu ya kuku kwenda golini.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	ركلت الدودة الكرة فسجلت هدفاً. ناورت الدودة بالكرة وسجلت هدفاً. سددت الدودة الكرة برأسها في المرمى وسجلت هدفاً. سجلت الدودة خمسة أهداف.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Millipede kicked the ball and scored.

Millipede dribbled the ball and scored. Millipede headed the ball and scored. Millipede scored five goals.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Jongoo alipiga mpira na akafunga. Jongoo akapiga chenga akafunga. Jongoo akapiga kichwa na akafunga. Jongoo akafunga magoli matano.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	كانت الدجاجة غاضبة لأنها خسرت، حيث أنها لم تكن تتمتع بالروح الرياضية. ضحكت الدودة لأن صديقتها الدجاجة أثارت ضجة لخسارتها.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Chicken was furious that she lost. She was a very bad loser. Millipede started laughing because his friend was making such a fuss.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuku akakasirika kuwa amefungwa. Alifungwa vibaya sana. Jongoo akaanza kucheka kwasababu rafiki yake alikuwa ana lalamika.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	كانت الدجاجة غاضبة لدرجة أنها فتحت منقارها واسعاً وابتلعت الدودة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Chicken was so angry that she opened her beak wide and swallowed the millipede.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuku alipatwa na hasira akafungua mdomo wake mkubwa na akammeza Jongoo.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	بينما كانت الدجاجة تمشي في طريقها إلى المنزل، التقت بوالدة الدودة. سألت والدة الدودة الدجاجة: "هل رأيت ابنتي؟" لكن الدجاجة لم تقل أي شيء. كانت والدة الدودة قلقة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	As Chicken was walking home, she met Mother Millipede. Mother Millipede asked, “Have you seen my child?” Chicken didn’t say anything.

Mother Millipede was worried.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuku alipokuwa anarudi nyumbani alikutana na Mama yake Jogoo. Mama Jongoo akamuuliza, "Umemwona mwanangu?" Kuku hakujibu kitu. Mama Jongoo akapatwa na wasiwasi.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	ثم سمعت والدة الدودة صوتا صغيراً يبكي: "ساعديني يا أمي!". نظرت والدة الدودة في جميع الأنحاء واستمعت بعناية، فوجدت الصوت يأتي من داخل الدجاجة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then Mother Millipede heard a tiny voice. “Help me mom!” cried the voice. Mother Millipede looked around and listened carefully. The voice came from inside the chicken.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mama Jogoo akasikia sauti kwa mbali. "Nisaidie mama!" Ililia ile sauti. Mama Jongoo aliangalia huku na kule na kusikiliza kwa makini. Sauti ilitokea tumboni mwa kuku.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	صاحت والدة الدودة "استخدمي القوة الخاصة بك يا ابنتي!". حيث يستطيع الديدان إخراج رائحة كريهة وطعم سيئ. بدأت الدجاجة تشعر بالمرض.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Mother Millipede shouted, “Use your special power my child!” Millipedes can make a bad smell and a terrible taste. Chicken began to feel ill.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mama Jongoo alipiga kelele, "Tumia nguvu yako ya kipekee mwanangu!" Jongoo anaweza kutoa harufu mbaya na ladha ya ajabu. Kuku akaanza kujisikia mgonjwa.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	تجشأت الدجاجة. ثم ابتلعت وبصقت. ثم عطست وسعلت. ثم سعلت. كان طعم الدودة مثيراً للاشمئزاز!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Chicken burped. Then she swallowed and spat. Then she sneezed and coughed. And coughed. The millipede was disgusting!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuku akabeuwa. Akameza mate na kutema. Alafu akapiga chafya na kukohoa. Akakohoa tena. Jongoo alimfanya ajisikie vibaya.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	استمرت الدجاجة تسعل حتى سعلت الدودة خارجاً من بطنها. زحفت الدودة ووالدتها سريعاً فوق شجرة للاختفاء.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Chicken coughed until she coughed out the millipede that was in her stomach. Mother Millipede and her child crawled up a tree to hide.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuku alikohoa, hadi akamtema jongoo aliyekuwa tumboni kwakwe. Mama Jongoo na mwanae wakakwea mti kujificha.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	ومنذ ذلك الوقت، أصبح الدجاج والديدان الأعداء.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	From that time, chickens and millipedes were enemies.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Kuanzia wakati huo hadi leo hii Kuku na Jongoo ni maadui.
	</h3></div>
	{% include audiocontrols_colophon.html index="13" prev="12" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
