---
title: "Ggonya omuyala."
layout: "story"
id: "0156"
language: "lg"
langname: "Luganda"
level: "1"
text: "Christian G."
illustration: "Wiehan de Jager"
translation: "Cissy Namugerwa, Ritah Katetemera"
reader: ""
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "hungry-crocodile"
asptitle: "The hungry crocodile"
entitle: "The hungry crocodile"
swtitle: "Le crocodile qui avait très faim"
order: "05"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Waliwo Ggonya nga
muyala nnyo.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Once there was a very
hungry crocodile.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakati mmoja palikuwa
na mamba mwenye
njaa.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Buli kiseera yasooba
nga mpolampola
okunonya ekyokulya.

Noluvanyuma.....
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	He searched for food
slowly and quietly.

And then...
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alitafuta chakula pole
pole tena kimya.

Halafu...
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	POO!!! Ggonya
nayasama!!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	POW!!!
The crocodile strikes!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	POO!!!
Mamba anashambulia!
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Oluvanyuma lw'ekyo
Ggonya yali akuse era
nga musanyufu.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	After that he is no
longer hungry, and he
is happy.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Baada ya hiyo hana
njaa tena,na anafurahi.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Paka lwadamu okuba
omuyala.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Until he gets hungry
again.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Hadi anapohisi njaa
tena.
	</h3></div>
	{% include audiocontrols_colophon.html index="06" prev="05" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
