---
title: "Tingi and the Cows"
layout: "story"
id: "0210"
language: "en"
langname: "English"
level: "2"
text: "Ingrid Schechter"
illustration: "Ingrid Schechter"
translation: ""
reader: "Darshan Soni"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "tingi-and-cows"
asptitle: "Tingi and the Cows"
entitle: "Tingi and the Cows"
swtitle: "Tingi et les vaches"
order: "18"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Tingi lived with his
grandmother.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Tingi lived with his
grandmother.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tingi aliishi na bibi yake.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	He used to look after
the cows with her.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	He used to look after
the cows with her.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alizoea kuchunga ng'ombe na bibi yake.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	One day the soldiers
came.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One day the soldiers
came.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja wanajeshi walikuja.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	They took the cows
away.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They took the cows
away.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakawachukua ng'ombe.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Tingi and his
grandmother ran away
and hid.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Tingi and his
grandmother ran away
and hid.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Tingi na bibi yake walikimbia na kujificha.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	They hid in the bush
until night.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They hid in the bush
until night.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Walijificha vichakani hadi usiku.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Then the soldiers
came back.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Then the soldiers
came back.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wanajeshi walirudi tena.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Grandmother hid Tingi
under the leaves.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Grandmother hid Tingi
under the leaves.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Bibi alimficha Tingi chini ya matawi ya mti.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	One of the soldiers put
his foot right on him,
but he kept quiet.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	One of the soldiers put
his foot right on him,
but he kept quiet.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Mwanajeshi mmoja alimkanyaga, lakini akanyamaza kimya.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	When it was safe, Tingi
and his grandmother
came out.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When it was safe, Tingi
and his grandmother
came out.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wanajeshi walipo ondoka Tingi na bibi yake wakajitokeza.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	They crept home very
quietly.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	They crept home very
quietly.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wakajikongoja kimya kimya kurudi nyumbani.
	</h3></div>
	{% include audiocontrols_colophon.html index="12" prev="11" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
