---
title: "ما قالته أخت فوسي"
layout: "story"
id: "0291"
language: "ar"
langname: "Arabic"
level: "4"
text: "Nina Orange"
illustration: "Wiehan de Jager"
translation: "Maaouia Haj Mabrouk"
reader: "Mashael Muhanna"
license: "by"
version: "3"
nc: ""
colour: "yes"
source: "what-vusis-sister-said"
asptitle: "What Vusi's sister said"
entitle: "What Vusi's sister said"
swtitle: "Que va dire la sœur de Vusi ?"
order: "35"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	في صباح باكر من أحد الأيام، نادت الجدة حفيدها فوسي قائلة: "فوسي، أرجو أن تأخذ هذه البيضة لوالديك. يريدان تحضير كعكة كبيرة بمناسبة حفل زفاف أختك".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Early one morning Vusi's granny
called him, “Vusi, please take this
egg to your parents. They want to
make a large cake for your sister's
wedding”.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Siku moja asubuhi bibi yake Vusi alimwita na kumwambia, "Tafadhali peleka mayai haya kwa wazazi wako. Wanataka kutengeneza keki kubwa kwa ajili ya harusi ya dada yako."
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	وفي طريقه إلى منزل والديه، اعترض فوسي ولدين يقطفان الفواكه. خطف أحد الولدين البيضة من يد فوسي وألقى بها على شجرة فتهشمت البيضة.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	On his way to his parents, Vusi met
two boys picking fruit. One boy
grabbed the egg from Vusi and shot
it at a tree. The egg broke.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alipokuwa njiani kuelekea kwa wazazi wake, Vusi akakutana na vijana wawili wana okota matunda. Kijana mmoja akanyakua yai kutoka kwa Vusi na akalirusha kwenye mti. Yai likavunjika.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	صاح فوسي: "ماذا فعلت؟ البيضة كانت لصنع كعكة، والكعكة كانت لحفل زفاف أختي. ماذا ستقول أختي إذا لم يكن في العرس كعكة؟".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“What have you done?” cried Vusi.
“That egg was for a cake. The cake
was for my sister's wedding. What
will my sister say if there is no
wedding cake?”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Umefanya nini?" Vusi akalia. "Yai lile lilikuwa kwa ajili ya keki. Keki kwa ajili ya harusi ya dada yangu. Dada yangu atasemaje kama hakutakuwa na keki ya harusi?"
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	أسف الولدان لإزعاجهما لفوسي وقال أحدهما: "لن نستطيع المساعدة في صنع الكعكة، لكن ها هي عصا للمشي، خذها لأختك". أخذ فوسي العصا وواصل طريقه إلى المنزل.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The boys were sorry for teasing
Vusi.
“We can't help with the cake, but
here is a walking stick for your
sister,” said one.
Vusi continued on his journey.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Vijana wale waliomba msahama kwa kumchokoza Vusi. "Hatuna la kufanya kuhusu keki, ila hii hapa fimbo kwa ajili ya dada yako." Alisema kijana mmoja. Vusi akaendelea na safari yake.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	وفي الأثناء، التقى فوسي رجلين يبنيان منزلاً. سأله أحدهما: "هل يمكننا أن نستخدم تلك العصا الغليظة التي بيدك؟". لكن العصا كسرت لدى استعمالها، لأنها لم تكن قوية بالقدر الكافي لتستخدم في البناء.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Along the way he met two men
building a house. “Can we use that
strong stick?” asked one.
But the stick was not strong enough
for building, and it broke.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Njiani alikutana na watu wawili wakijenga nyumba. "Tunaweza kutumia hiyo fimbo imara?" akauliza moja. Lakini fimbo haikuwa imara kwa kujengea, na ikavunjika.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	صاح فوسي: "ماذا فعلتما؟ تلك العصا كانت هدية لأختي. لقد أعطاني إياها جامعا الفواكه اللذان كسرا البيضة التي كنا سوف نستخدمها لعمل كعكة لأختي بمناسبة زواجها. أما الآن، فلا بيضة ولا كعكة ولا هدية. ماذا ستقول أختي؟"
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“What have you done?” cried Vusi.
“That stick was a gift for my sister.
The fruit pickers gave me the stick
because they broke the egg for the
cake. The cake was for my sister's
wedding. Now there is no egg, no
cake, and no gift. What will my
sister say?”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Mmefanya nini?" Fimbo hii ilikuwa zawadi kwa ajili ya dada yangu. Waangua matunda walinipa fimbo hiyo kwasababu walivunja yai la keki. Keki ilikuwa ni kwa ajili ya harusi ya dada yangu. Sasa hakuna yai, hakuna keki, na hakuna zawadi. Dada yangu atasemaje?"
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	أسف البناءان على كسر العصا. فقال أحدهما: "لن نستطيع فعل شيء بخصوص الكعكة، لكن هذا بعض القش، خذه لأختك". أخذ فوسي القش وواصل طريقه.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The builders were sorry for breaking
the stick.
“We can't help with the cake, but
here is some thatch for your sister,”
said one.
And so Vusi continued on his
journey.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wajenzi waliomba msamaha kwa kuvunja fimbo. "Hakuna tunaloweza kufanya kuhusu keki, ila tutakupa makuti umpelekee dada yako" Alisema mjenzi momoja. Na Vusi akaendelea na safari yake.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	وبينما هو في طريقه إلى البيت، اعترضه مزارع ومعه بقرة. قالت البقرة: "هذا القش لذيذ، هل لي بقضمه منه؟" لكن القش كان حلو المذاق لدرجة أن البقرة التهمته كله.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Along the way, Vusi met a farmer
and a cow. “What delicious thatch,
can I have a nibble?” asked the cow.
But the thatch was so tasty that the
cow ate it all!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Njiani, Vusi akakutana na mkulima akiwa na ng'ombe. "Una makuti mazuri, naweza kupata kidogo?" Ng'ombe akauliza. Lakini makuti yalikuwa matamu ng'ombe akayala yote!
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	صاح فوسي: "ماذا فعلت أيتها البقرة؟ ذاك القش كان هدية لأختي. أعطاني إياه البناءان بعد أن كسرا العصا التي تسلمتها من جامعيْ الفواكه الذيْنِ هشَّما البيضة التي كنا سنصنع بها كعكة لعرس أختي. لم يعد لي الآن لا بيضة ولا كعكة ولا هدية... ترى ماذا ستقول أختي؟".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“What have you done?” cried Vusi.
“That thatch was a gift for my
sister. The builders gave me the
thatch because they broke the stick
from the fruit pickers. The fruit
pickers gave me the stick because
they broke the egg for my sister's
cake. The cake was for my sister's
wedding. Now there is no egg, no
cake, and no gift. What will my
sister say?”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Umefanya nini?" Vusi akalia. "Makuti haya yalikuwa zawadi ya dada yangu. Wajenzi walinipa makuti kwakuwa walivunja fimbo yangu niliyopewa na waangua matunda. Waangua matunda walinipa fimbo kwakuwa walivunja yai kwa ajili ya keki ya dada yangu. Keki ilikuwa kwa ajili ya harusi ya dada yangu. Sasa hakuna yai, hakuna keki, na hakuna zawadi. Dada yangu atasema nini?"
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	اعتذرت البقرة لجشعها، أما المزارع فقد قرر أن يسلم البقرة لفوسي كهدية لأخته. أخذ فوسي البقرة وواصل طريقه.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The cow was sorry she was greedy.
The farmer agreed that the cow
could go with Vusi as a gift for his
sister. And so Vusi carried on.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Ng'ombe aliomba msamaha kwa kuwa mlafi. Mkulima alikubali kumpa Vusi ng'ombe aende naye kama zawadi kwa ajili ya dada yake. Vusi akaendelea na safari yake.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	لكن، وبحلول وقت العشاء فرت البقرة هاربة ورجعت إلى المزارع الذي سلمها لفوسي. أضاع فوسي طريقه ووصل متأخراً جداً لحفل زفاف أخته، فقد وجد المدعوين بصدد تناول الطعام.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	But the cow ran back to the farmer
at supper time.
And Vusi got lost on his journey.
He arrived very late for his sister's
wedding. The guests were already
eating.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Lakini wakati wa chakula cha jioni ng'ombe alikimbia kurudi kwa mkulima. Na Vusi akapotea njiani. Akafika kwa kuchelewa kwenye harusi ya dada yake. Wageni walikuwa tayari wanakula.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	صاح فوسي: "ماذا عساي أن أفعل الآن؟ ... لقد هربت البقرة، هدية العرس التي منحني إياه المزارع مقابل القش الذي سلمني إياه البناءان عندما كسرا العصا التي أعطاني إياها جامعا الفواكه بعد أن هشما البيضة التي كنا سنصنع بها كعكة زفاف أختي. أما الآن فلا بيضة ولا كعكة ولا هدية".
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“What shall I do?” cried Vusi.
“The cow that ran away was a gift,
in return for the thatch the builders
gave me. The builders gave me the
thatch because they broke the stick
from the fruit pickers. The fruit
pickers gave me the stick because
they broke the egg for the cake.
The cake was for the wedding. Now
there is no egg, no cake, and no
gift.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	"Nifanye nini?" alilia Vusi. "Ng'ombe aliyekimbia alikuwa ni zawadi, ambayo nilipewa kama mbadala wa makuti niliyopewa na wajenzi. Wajenzi walinipa makuti kwasababu walivunja fimbo niliopewa na waangua matunda. Waangua matunda walinipa fimbo kwasababu walivunja yai kwa ajili ya keki. Keki ilikuwa kwa ajili ya harusi. Kwahiyo hakuna yayi, hakuna keki, na hakuna zawadi."
	</h3></div>
	{% include audiocontrols.html index="13" prev="12" next="14" %}
</div>
<hr>

<div id="text14" class="columns">
	{% include picturecol.html index="14" %}	{% include textcol_start.html %}	فكرت أخت فوسي قليلاً ثم قالت: "أخي، لا تهمني الهدايا، ولا الكعكة. نحن هنا معا، وأنا سعيدة. اذهب الآن والبس ثيابك الجميلة وتعال، نحتفل بهذا اليوم السعيد معاً ".وكان ذاك ما فعله فوسي.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Vusi's sister thought for a while,
then she said,
“Vusi my brother, I don't really care
about gifts. I don't even care about
the cake! We are all here together, I
am happy. Now put on your smart
clothes and let's celebrate this
day!”
And so that's what Vusi did.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Dada yake Vusi alifikiria kwa muda, baadaye akasema, "Kaka yangu Vusi, sijali zawadi, sijali pia keki! Tupo hapa pamoja, nina furaha. Nenda kavae nguo zako nadhifu na uje tusheherekee siku hii!"
	</h3></div>
	{% include audiocontrols_colophon.html index="14" prev="13" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
