---
title: "Mbui, Ngiti na Ng'ombe"
layout: "story"
id: "0315"
language: "kam"
langname: "Kikamba"
level: "3"
text: "Fabian Wakholi"
illustration: "Marleen Visser"
translation: "Alice Oghana"
reader: ""
license: "by"
version: "4"
nc: ""
colour: "yes"
source: "sakima%E2%80%99s-song"
asptitle: "Sakima's song"
entitle: "Sakima's song"
swtitle: "La chanson de Sakima"
order: "34"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Mbui,Ngiti na Ng'ombe
mai anyanyae
anene.Muthenyia umwe
maendie kyalo na ngali.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Sakima lived with his parents and his four year old sister.

They lived on a rich man's land.

Their grass-thatched hut was at the end of a row of trees.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sakima aliishi na wazazi wake na dada yake wa miaka minne.

Waliishi katika shamba la mtu tajiri.

Nyumba yao ya nyasi ilikuwa mwisho wa safu ya miti iliyopendeza.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Mavika kwisho wa
kyaloi,Ndeleva amea
maive tikiti.Ng'ombe
aiva tikiti wake.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When Sakima was three years old, he fell sick and lost his sight.

Sakima was a talented boy.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sakima alipokuwa na umri wa miaka mitatu, aliugua na kupoteza uwezo wa kuona.

Hata hivyo, Sakima alikuwa mvulana mwenye talanta.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Ngiti aiva tikiti
umwingaingi,nundu
ndaii na mbesa ila
syailite.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Sakima did many things that other six year old boys did not do.

For example, he could sit with older members of the village and discuss important matters.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sakima alatenda mambo mengi ambayo wavulana wengine wa umri wake hawakufanya.

Kwa mfano, angeketi na watu wazima na kujadili mambo muhimu.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Ndeleva akwenda
utungia Ngiti mbesa sya
uluui,Mbui aumela
asembete ataivite
kindu!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The parents of Sakima worked at the rich man's house.

They left home early in the morning and returned late in the evening.

Sakima was left with his little sister.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wazazi wa Sakima walifanya kazi katika nyumba ya yule tajiri.

Waliondoka nyumbani asubuhi na mapema na kurudi jioni.

Sakima aliachwa na dadake.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Ndeleva athata
muno.Atwaa ngali
atanatungia Ngiti
mbesa sya yuulu.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Sakima loved to sing songs.

One day his mother asked him, “Where do you learn these songs from, Sakima?”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sakima alipenda kuimba sana nyimbo.

Siku moja mamake alimuuliza, “Sakima, unajifunza nyimbo hizi kutoka wapi?”
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Ni kwio kitumi ona
umunze Ngiti usembea
ngali
akunikile nzini aimaza
Ndeleva ula
utamutungia mbesa
syake sya yuulu.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Sakima answered, “They just come, mother. I hear them in my head and then I sing.”
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sakima alimjibu, “Nazisikia akilini mwangu kisha naziimba.” Mamake hakumwelewa.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Mbui nake asembaa
aitoloka muumo wa
ngali.Ethia aikia
ndakakwatwe nundu wa
ulea iva tikiti wake.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Sakima liked to sing for his little sister, especially, if she felt hungry.

His sister would listen to him singing his favourite song.

She would sway to the soothing tune.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Sakima alipenda kumwimbia dadake hasa alipohisi njaa.

Dadake alimsikiliza na kucheza.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Na Ng'ombe
ndatelemaa ngali
yukite.Ng'ombe osaa
ivinda yake kukilanilia
nzia nundu niwaivie
tikiti wake wonze!
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	“Can you sing it again and again, Sakima,” his sister would beg him.

Sakima would accept and sing it over and over again.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	“Tafadhali Sakima, imba tena,” dada yake angemsihi.

Sakima angekubali na kuimba mara nyingine.
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
