---
title: "Mir yar: Sheekadii Wangari Maathai"
layout: "story"
id: "0110"
language: "so"
langname: "Somali"
level: "3"
text: "Nicola Rijsdijk"
illustration: "Maya Marshak"
translation: "Anwar Mohamed Dirie"
reader: ""
license: "by"
version: "4"
nc: ""
colour: "yes"
source: "tiny-seed-story-wangari-maathai"
asptitle: "A Tiny Seed: The Story of Wangari Maathai"
entitle: "A Tiny Seed: The Story of Wangari Maathai"
swtitle: "Une petite graine : l'histoire de Wangari Maathai"
order: "29"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	Tuulo ku tiil buurta Mount Kenya ee Bariga Afrika babaceeda, gabar yar ayaa hooyadeed kala shaqeyn jirtay beeraha. Magaceedu waxa uu ahaa Wangari.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	In a village on the slopes of Mount Kenya in East Africa, a little girl worked in the
fields with her mother. Her name was Wangari.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Katika kijiji kimoja kwenye mteremko wa Mlima Kenya, katika Afrika Mashariki,
msichana mdogo alifanya kazi za shambanin pamoja na mamake.
Msichana huyu aliitwa Wangari.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	Wangari bannaanka ayay aad u jeclaan jirtay. Baangad ayay ku qodqodday camuudda meel ka mid ah beertooda. Waxayna ku aastay miro aad u yaryar dhulka.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Wangari loved being outside. In her family's food garden she broke up the soil
with her machete. She pressed tiny seeds into the warm earth.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wangari alipenda kufanya kazi za nje.
Alitumia jembe kulima katika bustani ya familia yake.
Kisha alipanda mbegu ndogo katika ardhi yenye joto.
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Maalinnimada waxa ay ugu jeclayd marka ay cadceeddu dhacdo. Waa marka ay mugdiga noqoto si ay u aragto dhirta, Wangari markaa waxay yiqiinsataa in ay tahay xilligii ay guriga aadi lahayd. Dhabbayaal sii dhex mara beeraha ayay sii qaaddaa, waxayna sii dhaaftaa keli-biyoodyo marka ay guriga u sii socoto.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Her favourite time of day was just after sunset. When it got too dark to see the
plants, Wangari knew it was time to go home.
She would follow the narrow paths through the fields, crossing rivers as she went.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alipenda majira ya jioni, wakati jua lilipotua. Giza lilipozidi na kuwa vigumu kuona
mimea tena, Wangari alifahamu wakati wa kwenda nyumbani uliwadia.
Angefuata kijia chembamba kilichopita wanjani huku akivuka mito akielekea
nyumbani.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	Wangari waxa ay ahayd gabar farriid ah aad bayna ugu xiise qabtay in ay iskuul aaddo. Laakiin hooyadeed iyo aabbaheed waxa ay doonayeen in ay la joogto oo ay guriga kala shaqeyso. Markii ay toddoba jirsatay, walaalkeed ka weyn ayaa ku qalqaaliyey waalidkeed in ay u oggolaadaan in ay iskuul tagto oo ay wax barato.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Wangari was a clever child and couldn't wait to go to school. But her mother and
father wanted her to stay and help them at home.
When she was seven years old, her big brother persuaded her parents to let her
go to school.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wangari alikuwa mtoto mwerevu na alikuwa na hamu ya kwenda shule. Lakini,
wazazi wake walitaka awasaidie nyumbani. Alipofika umri wa miaka saba, kakake
aliwashawishi wazazi wake kumwacha aende shule.
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Way ka heshay in ay wax barato! Wangari buug walba oo ay akhriso wax badan ayay ka baran jirtay. Iskuulka oo ay aad ugu wanaagsanaatey darteed waxaa lagu casuumay in ay wax ku barato dalka Maraykanka. Wangari aad ayey ugu faraxday arrinkaa! Waxa ay doonaysay in ay wax badan ka ogaato dunida.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	She liked to learn! Wangari learnt more and more with every book she read.
She did so well at school that she was invited to study in the United
States of America.
Wangari was excited! She wanted to know more about the world.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alipenda kusoma! Wangari alijifunza zaidi na zaidi kwa kila kitabu alichosoma.
Alifanya vyema sana shuleni hadi akaalikwa kwenda Amerika kuendeleza
masoma yake huko. Wangari alichangamshwa sana na nafasi hii! Alipenda kujua
ulimwengu zaidi.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	Wangari wax badan oo cusub ayay ku baratay jaamicadda la yiraahdo the American University. Waxa ay baratay dabeecadda dhirta iyo sida ay u baxaan. Waxa ayna xusuusatay sidii ay u kortay ee ahayd: in ay walaalaheed kula ciyaari jirtay hooska geedaha kaymihii qurxoonaa ee Kenya.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	At the American university Wangari learnt many new things. She studied plants
and how they grow. And she remembered how she grew: playing games with her
brothers in the shade of the trees in the beautiful Kenyan forests.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alipokuwa chuoni huko Amerika, Wangari alijifunza mengi mapya. Alisomea
mimea na jinsi inavyokua. Na alikumbuka maisha yake yalivyokuwa utotoni:
kucheza michezo na nduguze katika kivuli cha miti maridadi ya misitu ya Kenya.
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Markii ay aad wax u sii barataba, waxa ay sii ogaanaysay in ay dadka Kenya aad u jeceshahay. Waxa ay doonaysay in ay noqdaan kuwo faraxsan oo xor ah. Markii ay wax sii barataba, waxa ay soo xusuusan jirtay gurigeedii Afrika.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	The more she learnt, the more she realised that she loved the people of Kenya.
She wanted them to be happy and free.
The more she learnt, the more she remembered her African home.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Jinsi alivyojifunza ndivyo alivyofahamu kuwa aliwapenda watu wa Kenya. Alitaka
wafurahi na wawe wenye uhuru. Jinsi alivyojifunza ndivyo alikumbuka kwao
nyumbani Afrika.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	Markii ay wax barashadeedii dhammeysatay, waxa ay ku noqotay Kenya. Laakiin wadankeedii waa is beddelay. Beero waaweyn ayaa dalkii laga jeexay. Haweenku ma heli karin xaabo ay wax ku karsadaan. Dadku fakhri ayay ahaayeen, carruurtuna waa ay gaajeysnaayeen.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	When she had finished her studies, she returned to Kenya. But her country had
changed. Huge farms stretched across the land.
Women had no wood to make cooking fires. The people were poor and the
children were hungry.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Alipokamilisha masomo yake, alirudi Kenya. Lakini nchi yake ilikuwa imebadilika.
Kulikuwa na mashamba makubwa kila upande. Wanawake hawakupata kuni za
kuwasha moto wa kupika. Watu walikuwa maskini na watoto walikuwa na njaa.
	</h3></div>
	{% include audiocontrols.html index="09" prev="08" next="10" %}
</div>
<hr>

<div id="text10" class="columns">
	{% include picturecol.html index="10" %}	{% include textcol_start.html %}	Wangari way garanysay waxa ay tahay in la sameeyo. Waxa ay bartay haweenkii sida miro loo abuuro si ay dhir u soo baxdo. Haweenku dhirta ayay sii iibin jireen lacagta ka soo baxdana qoysaskooda ayay ku xanaaneyn jireen. Haweenkii waxa ay noqdeen kuwo faraxsan. Wangari ayaa ka dhigtay kuwo dareema awooddooda iyo muhimaddooda.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Wangari knew what to do. She taught the women how to plant trees from seeds.
The women sold the trees and used the money to look after their families.
The women were very happy. Wangari had helped them to feel powerful and
strong.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wangari alijua la kufanya. Aliwafunza wanawake jinsi ya kupanda miti kutokana
na miche. Wanawake waliuza ile miti na pesa walizopata walizitumia kwa mahitaji
ya familia zao. Wanawake walifurahi. Wangari alikuwa amewasaidie kuwa wenye
nguvu na uwezo.
	</h3></div>
	{% include audiocontrols.html index="10" prev="09" next="11" %}
</div>
<hr>

<div id="text11" class="columns">
	{% include picturecol.html index="11" %}	{% include textcol_start.html %}	Xilli ka dib, dhirtii waxa ay noqotay kayn, webiyadiina mar kale ayay biyo keeneen. Farriintii Wangari, Afrika ayay ku faaftay. Maanta, malaayiin geedo ah ayaa ka soo baxay mirihii Wangari.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	As time passed, the new trees grew into forests, and the rivers started flowing
again. Wangari's message spread across Africa.
Today, millions of trees have grown from Wangari's seeds.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Muda ulipopita, miti mipya ilikuwa misitu, na mito ilianza tena kupitisha maji.
Ujumbe wa Wangari ulienea Africa nzima. Leo, mamilioni ya miti imemea
kutokana na mbegu za Wangari.
	</h3></div>
	{% include audiocontrols.html index="11" prev="10" next="12" %}
</div>
<hr>

<div id="text12" class="columns">
	{% include picturecol.html index="12" %}	{% include textcol_start.html %}	Wangari si adag ayay u shaqeysay. Dadka dunida oo dhan ayaa u qiray, waxana la siiyey abaalmarin caan ah. Waxa la yiraahdaa abaalmarintaad the Nobel Peace Prize, waxa ayna noqotay haweeneyda keliya ee Afrika abid laga siiyey.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Wangari had worked hard.
People all over the world took
notice, and gave her a famous
prize. It is called the Nobel
Peace Prize, and she was the
first African woman ever to
receive it.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wangari alikuwa amefanya
bidii. Watu ulimwengu mzima
walifahamu hili na wakampa
tuzo. Tuzo hili linaitwa, 'Nobel
Peace Prize.' Na alikuwa
mwanamke wa Kiafrika wa
kwanza kupokea tuzo hilo.
	</h3></div>
	{% include audiocontrols.html index="12" prev="11" next="13" %}
</div>
<hr>

<div id="text13" class="columns">
	{% include picturecol.html index="13" %}	{% include textcol_start.html %}	Wangari waxa ay dhimatay 2011, laakiin waa aannu xusuusannaa mar walba oo aan aragno geed qurux badan.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 en"><h3>
	Wangari died in 2011, but we can think of her every time we see a beautiful tree.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 sw"><h3>
	Wangari aliaga dunia mwaka 2011, lakini tunaweza kumfikiria kila tunapouona
mti wa kupendeza.
	</h3></div>
	{% include audiocontrols_colophon.html index="13" prev="12" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
